<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ch.eugster.events.merge.views.PersonView"
            id="ch.eugster.events.merge.view"
            name="Personen"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="ch.eugster.events.merge.commands.mergeAddresses"
            name="Addressen zusammenführen">
      </command>
      <command
            id="ch.eugster.events.merge.commands.mergePersons"
            name="Personen zusammenführen">
      </command>
      <command
            id="ch.eugster.events.merge.commands.decollate"
            name="Mehrere Personen extrahieren">
      </command>
      <command
            id="ch.eugster.events.merge.commands.editPerson"
            name="Person bearbeiten">
      </command>
      <command
            id="ch.eugster.events.merge.commands.editAddress"
            name="Adresse bearbeiten">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.eugster.events.merge.handlers.MergeAddressesHandler"
            commandId="ch.eugster.events.merge.commands.mergeAddresses">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="+">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="ch.eugster.events.persistence.model.LinkPersonAddress">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.events.merge.handlers.MergePersonsHandler"
            commandId="ch.eugster.events.merge.commands.mergePersons">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="+">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="ch.eugster.events.persistence.model.LinkPersonAddress">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.events.merge.handlers.DecollatePersonsHandler"
            commandId="ch.eugster.events.merge.commands.decollate">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="ch.eugster.events.persistence.model.LinkPersonAddress">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.events.merge.handlers.EditPersonHandler"
            commandId="ch.eugster.events.merge.commands.editPerson">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="ch.eugster.events.persistence.model.LinkPersonAddress">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:ch.eugster.events.core.views.general?after=additions">
         <command
               commandId="org.eclipse.ui.views.showView"
               label="Merger"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="ch.eugster.events.merge.view">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:ch.eugster.events.merge.view?after=additions">
         <command
               commandId="ch.eugster.events.merge.commands.mergeAddresses"
               disabledIcon="icons/merge_16x16_grey.gif"
               hoverIcon="icons/merge_16x16_green.gif"
               icon="icons/merge_16x16_green.gif"
               label="Adressen zusammenführen"
               style="push">
         </command>
         <command
               commandId="ch.eugster.events.merge.commands.mergePersons"
               disabledIcon="icons/merge_16x16_grey.gif"
               hoverIcon="icons/merge_16x16_red.gif"
               icon="icons/merge_16x16_red.gif"
               label="Personen integrieren"
               style="push">
         </command>
         <command
               commandId="ch.eugster.events.merge.commands.decollate"
               disabledIcon="icons/decollate_16x16_grey.gif"
               hoverIcon="icons/decollate_16x16_red.gif"
               icon="icons/decollate_16x16_red.gif"
               label="Personen extrahieren..."
               style="push">
         </command>
         <separator
               name="ch.eugster.events.merge.separator1"
               visible="true">
         </separator>
         <command
               commandId="ch.eugster.events.merge.commands.editPerson"
               disabledIcon="icons/person_grey_16.png"
               hoverIcon="icons/person_green_16.png"
               icon="icons/person_green_16.png"
               label="Person bearbeiten"
               style="push">
         </command>
         <command
               commandId="ch.eugster.events.merge.commands.editAddress"
               disabledIcon="icons/address_grey_16x16.png"
               hoverIcon="icons/address_16x16.png"
               icon="icons/address_16x16.png"
               label="Adresse bearbeiten"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:ch.eugster.events.merge.view?after=additions">
         <command
               commandId="ch.eugster.events.merge.commands.mergeAddresses"
               disabledIcon="icons/merge_16x16_grey.gif"
               hoverIcon="icons/merge_16x16_green.gif"
               icon="icons/merge_16x16_green.gif"
               label="Adressen zusammenführen"
               style="push">
         </command>
         <command
               commandId="ch.eugster.events.merge.commands.mergePersons"
               disabledIcon="icons/merge_16x16_grey.gif"
               hoverIcon="icons/merge_16x16_red.gif"
               icon="icons/merge_16x16_red.gif"
               label="Personen integrieren"
               style="push">
         </command>
         <command
               commandId="ch.eugster.events.merge.commands.decollate"
               disabledIcon="icons/decollate_16x16_grey.gif"
               hoverIcon="icons/decollate_16x16_red.gif"
               icon="icons/decollate_16x16_red.gif"
               label="Personen extrahieren..."
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.save"
            contextId="org.eclipse.compare.compareEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+S">
      </key>
      <key
            commandId="org.eclipse.ui.edit.undo"
            contextId="org.eclipse.compare.compareEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Z">
      </key>
   </extension>

</plugin>
