<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ch.eugster.events.core.perspective">
         <view
               closeable="true"
               id="ch.eugster.events.country.view"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="ch.eugster.events.addresstype.view"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="ch.eugster.events.country.category.views"
            class="ch.eugster.events.country.views.CountryView"
            icon="icons/country.png"
            id="ch.eugster.events.country.view"
            name="Länder"
            restorable="true">
      </view>
      <category
            id="ch.eugster.events.country.category.views"
            name="Länder">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ch.eugster.events.country.editors.CountryEditor"
            icon="icons/country.png"
            id="ch.eugster.events.country.editor"
            name="Land">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="ch.eugster.events.country.editor"
            targetID="ch.eugster.events.country.editor">
         <action
               class="ch.eugster.events.ui.actions.ResetEditorActionDelegate"
               definitionId="org.eclipse.ui.file.revert"
               disabledIcon="icons/reset_grey_16.png"
               hoverIcon="icons/reset_16.png"
               icon="icons/reset_16.png"
               id="ch.eugster.events.country.editor.revert"
               label="Revert"
               mode="FORCE_TEXT"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Verwerfen der vorgenommene Änderungen">
         </action>
         <action
               class="ch.eugster.events.ui.actions.SaveEditorActionDelegate"
               definitionId="org.eclipse.ui.file.save"
               disabledIcon="icons/save_grey_16.png"
               hoverIcon="icons/save_16.png"
               icon="icons/save_16.png"
               id="ch.eugster.events.country.editor.save"
               label="Save"
               mode="FORCE_TEXT"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Speichern der vorgenommenen Änderungen">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="ch.eugster.events.country.category.edit"
            name="Bearbeiten">
      </category>
      <command
            categoryId="ch.eugster.events.country.category.edit"
            description="Hinzufügen eines neuen Landes"
            id="ch.eugster.events.country.add"
            name="Hinzufügen">
      </command>
      <command
            categoryId="ch.eugster.events.country.category.edit"
            description="Entfernen des gewählten Landes"
            id="ch.eugster.events.country.delete"
            name="Entfernen">
      </command>
      <command
            categoryId="ch.eugster.events.country.category.edit"
            description="Bearbeiten des ausgewählten Landes"
            id="ch.eugster.events.country.edit"
            name="Bearbeiten">
      </command>
      <category
            id="ch.eugster.events.country.category.view"
            name="Sichten">
      </category>
      <command
            categoryId="ch.eugster.events.country.category.view"
            description="Ländersicht aktivieren"
            id="ch.eugster.events.country.activateView"
            name="Ländersicht aktivieren">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.eugster.events.country.handlers.AddCountryHandler"
            commandId="ch.eugster.events.country.add">
         <activeWhen>
            <reference
                  definitionId="active.part.country.view">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="active.part.country.view">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.events.country.handlers.DeleteCountryHandler"
            commandId="ch.eugster.events.country.delete">
         <activeWhen>
            <reference
                  definitionId="active.part.country.view">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="selected.single.item.country">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.events.country.handlers.EditCountryHandler"
            commandId="ch.eugster.events.country.edit">
         <activeWhen>
            <reference
                  definitionId="active.part.country.view">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="selected.single.item.country">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.events.country.handlers.ActivateView"
            commandId="ch.eugster.events.country.activateView">
         <activeWhen>
            <not>
               <reference
                     definitionId="active.part.country.view">
               </reference>
            </not>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:ch.eugster.events.country.view?after=additions">
         <command
               commandId="ch.eugster.events.country.add"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.gif"
               icon="icons/add_16.gif"
               id="ch.eugster.events.country.add"
               label="Hinzufügen"
               mnemonic="N"
               style="push"
               tooltip="Hinzufügen eines neuen Landes">
         </command>
         <command
               commandId="ch.eugster.events.country.edit"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               id="ch.eugster.events.country.edit"
               label="Bearbeiten"
               style="push"
               tooltip="Bearbeiten des ausgewählten Landes">
         </command>
         <command
               commandId="ch.eugster.events.country.delete"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               id="ch.eugster.events.country.delete"
               label="Entfernen"
               mnemonic="L"
               style="push"
               tooltip="Enternen des ausgewählten Landes">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:ch.eugster.events.country.view?after=additions">
         <command
               commandId="ch.eugster.events.country.add"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.gif"
               icon="icons/add_16.gif"
               id="ch.eugster.events.country.add"
               label="Hinzufügen"
               mnemonic="N"
               style="push"
               tooltip="Hinzufügen eines neuen Landes">
         </command>
         <command
               commandId="ch.eugster.events.country.edit"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               id="ch.eugster.events.country.edit"
               label="Bearbeiten"
               style="push"
               tooltip="Bearbeiten des ausgewählten Landes">
         </command>
         <command
               commandId="ch.eugster.events.country.delete"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               id="ch.eugster.events.country.delete"
               label="Entfernen"
               mnemonic="L"
               style="push"
               tooltip="Entfernen des ausgewählten Landes">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:ch.eugster.events.ui.menu.views?after=additions">
         <command
               commandId="ch.eugster.events.country.activateView"
               disabledIcon="icons/country.png"
               hoverIcon="icons/country.png"
               icon="icons/country.png"
               label="Länder"
               style="push"
               tooltip="Aktivieren der Ländersicht">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="selected.single.item.country">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <and>
               <iterate>
                  <instanceof
                        value="ch.eugster.events.persistence.model.Country">
                  </instanceof>
               </iterate>
            </and>
         </with>
      </definition>
      <definition
            id="active.part.country.view">
         <with
               variable="activePart">
            <instanceof
                  value="ch.eugster.events.country.views.CountryView">
            </instanceof>
         </with>
      </definition>
      <definition
            id="active.menu.selection.single.country">
         <with
               variable="activeMenuSelection">
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <instanceof
                        value="ch.eugster.events.persistence.model.Country">
                  </instanceof>
               </iterate>
            </and>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ch.eugster.events.country.add"
            contextId="ch.eugster.events.country.context"
            schemeId="ch.eugster.events.core.scheme"
            sequence="M1+N">
      </key>
      <key
            commandId="ch.eugster.events.country.delete"
            contextId="ch.eugster.events.country.context"
            schemeId="ch.eugster.events.core.scheme"
            sequence="M1+D">
      </key>
      <key
            commandId="ch.eugster.events.country.edit"
            contextId="ch.eugster.events.country.context"
            schemeId="ch.eugster.events.core.scheme"
            sequence="M1+E">
      </key>
      <key
            commandId="org.eclipse.ui.file.save"
            contextId="ch.eugster.events.country.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+S">
      </key>
      <key
            commandId="org.eclipse.ui.file.revert"
            contextId="ch.eugster.events.country.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+R">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="ch.eugster.events.country.context"
            name="Kontext Land"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>

</plugin>
