<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.eugster.events.charity.PerspectiveFactory"
            fixed="false"
            icon="icons/runner_16.png"
            id="ch.eugster.events.charity.perspective"
            name="Sponsorlauf">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ch.eugster.events.charity.category"
            name="Sponsorlauf">
      </category>
      <view
            allowMultiple="false"
            category="ch.eugster.events.charity.category"
            class="ch.eugster.events.charity.views.TagReaderView"
            icon="icons/runner_16.png"
            id="ch.eugster.events.charity.view.tagreader"
            name="Tag Leser"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="ch.eugster.events.charity.views.CharityRunView"
            icon="icons/runner_16.png"
            id="ch.eugster.events.charity.view.charityruns"
            name="Sponsorläufe"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="ch.eugster.events.charity.category"
            class="ch.eugster.events.charity.views.StartNumberAssignView"
            icon="icons/runner_16.png"
            id="ch.eugster.events.charity.view.startnumberassign"
            name="Startnummernzuordnung"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ch.eugster.events.charity.perspective">
         <view
               closeable="true"
               id="ch.eugster.events.charity.view.tagreader"
               minimized="false"
               moveable="true"
               ratio=".3"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="ch.eugster.events.charity.view.charityruns"
               minimized="false"
               moveable="true"
               ratio=".3"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="ch.eugster.events.charity.view.startnumberassign"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="ch.eugster.events.charity.view.tagreader"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:ch.eugster.events.ui.menu.views?after=additions">
         <menu
               label="Sponsorlauf">
            <command
                  commandId="ch.eugster.events.charity.activateTagReaderView"
                  hoverIcon="icons/runner_16.png"
                  icon="icons/runner_16.png"
                  label="Tag Leser"
                  style="push">
            </command>
            <command
                  commandId="ch.eugster.events.charity.activateCharityRunsView"
                  hoverIcon="icons/runner_16.png"
                  icon="icons/runner_16.png"
                  label="Sponsorläufe"
                  style="push">
            </command>
            <command
                  commandId="ch.eugster.events.charity.activateStartNumberAssignView"
                  hoverIcon="icons/runner_16.png"
                  icon="icons/runner_16.png"
                  label="Startnummernzuordnung"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.eugster.events.charity.view.charityruns?after=additions">
         <command
               commandId="ch.eugster.events.charity.command.charity.run.new"
               icon="icons/add_16.gif"
               label="Neu"
               style="push">
         </command>
         <command
               commandId="ch.eugster.events.charity.command.charity.run.edit"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push"
               tooltip="Ausgewählten Sponsorlauf bearbeiten">
         </command>
         <command
               commandId="ch.eugster.events.charity.command.charity.run.delete"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="Entfernen"
               style="push"
               tooltip="Ausgewählten Sponsorlauf entfernen">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:ch.eugster.events.charity.view.charityruns">
         <command
               commandId="ch.eugster.events.charity.command.charity.run.new"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.gif"
               icon="icons/add_16.gif"
               label="Neuer Sponsorlauf"
               style="push"
               tooltip="Hinzufügen eines neuen Sponsorlaufs">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="ch.eugster.events.persistence.model.CharityRun">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ch.eugster.events.charity.command.charity.run.edit"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Sponsorlauf bearbeiten"
               style="push"
               tooltip="Bearbeiten des ausgewählten Sponsorlaufs">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="ch.eugster.events.persistence.model.CharityRun">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ch.eugster.events.addressgroup.delete"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="Sponsorlauf entfernen"
               style="push"
               tooltip="Die ausgewählten Elemente entfernen">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="ch.eugster.events.persistence.model.CharityRun">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="ch.eugster.events.addressgroup.separator5"
               visible="true">
         </separator>
         <command
               commandId="ch.eugster.events.charity.command.charity.runner.new"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.gif"
               icon="icons/add_16.gif"
               label="Neuer Läufer"
               style="push"
               tooltip="Hinzufügen eines neuen Läufers">
         </command>
         <command
               commandId="ch.eugster.events.charity.command.charity.runner.edit"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Läufer bearbeiten"
               style="push"
               tooltip="Bearbeiten des ausgewählten Läufers">
         </command>
         <command
               commandId="ch.eugster.events.charity.command.charity.runner.delete"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="Läufer entfernen"
               style="push"
               tooltip="Entfernen des ausgewählten Läufers">
         </command>
         <command
               commandId="ch.eugster.events.charity.command.remove.tagreads"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="Zählungen löschen"
               style="push"
               tooltip="Zählungen des aktuell ausgewählten Sponsorlaufs löschen">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ch.eugster.events.charity.handlers.ActivateTagReaderView"
            id="ch.eugster.events.charity.activateTagReaderView"
            name="Tag Leser">
      </command>
      <command
            defaultHandler="ch.eugster.events.charity.handlers.ActivateCharityRunsView"
            id="ch.eugster.events.charity.activateCharityRunsView"
            name="Sponsorläufe">
      </command>
      <command
            defaultHandler="ch.eugster.events.charity.handlers.AddCharityRunHandler"
            id="ch.eugster.events.charity.command.charity.run.new"
            name="Neu">
      </command>
      <command
            id="ch.eugster.events.charity.command.charity.run.edit"
            name="Bearbeiten">
      </command>
      <command
            id="ch.eugster.events.charity.command.charity.run.delete"
            name="Entfernen">
      </command>
      <command
            id="ch.eugster.events.charity.command.charity.runner.new"
            name="Neuer Läufer">
      </command>
      <command
            id="ch.eugster.events.charity.command.charity.runner.edit"
            name="Läufer Bearbeiten">
      </command>
      <command
            id="ch.eugster.events.charity.command.charity.runner.delete"
            name="Läufer entfernen">
      </command>
      <command
            defaultHandler="ch.eugster.events.charity.handlers.RemoveTagsRead"
            id="ch.eugster.events.charity.command.remove.tagreads"
            name="Zählungen löschen">
      </command>
      <command
            defaultHandler="ch.eugster.events.charity.handlers.ActivateStartNumberAssignView"
            id="ch.eugster.events.charity.activateStartNumberAssignView"
            name="Startnummernzuordnung">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ch.eugster.events.charity.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.eugster.events.charity.preferences.CharityPreferencePage"
            id="ch.eugster.events.charity.page"
            name="Sponsorlauf">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ch.eugster.events.charity.editors.CharityRunEditor"
            default="false"
            icon="icons/runner_16.png"
            id="ch.eugster.events.charity.run.editor"
            name="Sponsorlauf">
      </editor>
      <editor
            class="ch.eugster.events.charity.editors.CharityRunnerEditor"
            default="false"
            icon="icons/runner_16.png"
            id="ch.eugster.events.charity.runner.editor"
            name="Sponsorläufer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="ch.eugster.events.charity.run.editor"
            targetID="ch.eugster.events.charity.run.editor">
         <action
               class="ch.eugster.events.ui.actions.ResetEditorActionDelegate"
               definitionId="org.eclipse.ui.file.revert"
               disabledIcon="icons/reset_grey_16.png"
               hoverIcon="icons/reset_16.png"
               icon="icons/reset_16.png"
               id="ch.eugster.events.charity.run.editor.revert"
               label="Revert"
               mode="FORCE_TEXT"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Verwerfen der vorgenommenen Änderungen">
         </action>
         <action
               class="ch.eugster.events.ui.actions.SaveEditorActionDelegate"
               definitionId="org.eclipse.ui.file.save"
               disabledIcon="icons/save_grey_16.png"
               hoverIcon="icons/save_16.png"
               icon="icons/save_16.png"
               id="ch.eugster.events.charity.run.editor.save"
               label="Save"
               mode="FORCE_TEXT"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Speichern der vorgenommenen Änderungen">
         </action>
      </editorContribution>
      <editorContribution
            id="ch.eugster.events.charity.runner.editor"
            targetID="ch.eugster.events.charity.runner.editor">
         <action
               class="ch.eugster.events.ui.actions.ResetEditorActionDelegate"
               definitionId="org.eclipse.ui.file.revert"
               disabledIcon="icons/reset_grey_16.png"
               hoverIcon="icons/reset_16.png"
               icon="icons/reset_16.png"
               id="ch.eugster.events.charity.run.editor.revert"
               label="Revert"
               mode="FORCE_TEXT"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Verwerfen der vorgenommenen Änderungen">
         </action>
         <action
               class="ch.eugster.events.ui.actions.SaveEditorActionDelegate"
               definitionId="org.eclipse.ui.file.save"
               disabledIcon="icons/save_grey_16.png"
               hoverIcon="icons/save_16.png"
               icon="icons/save_16.png"
               id="ch.eugster.events.charity.run.editor.save"
               label="Save"
               mode="FORCE_TEXT"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Speichern der vorgenommenen Änderungen">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.eugster.events.charity.handlers.EditCharityRunHandler"
            commandId="ch.eugster.events.charity.command.charity.run.edit">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="ch.eugster.events.persistence.model.CharityRun">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="ch.eugster.events.persistence.model.CharityRun">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.eugster.events.charity.handlers.DeleteCharityRunHandler"
            commandId="ch.eugster.events.charity.command.charity.run.delete">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="ch.eugster.events.persistence.model.CharityRun">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="ch.eugster.events.persistence.model.CharityRun">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.eugster.events.charity.handlers.AddCharityRunnerHandler"
            commandId="ch.eugster.events.charity.command.charity.runner.new">
      </handler>
      <handler
            class="ch.eugster.events.charity.handlers.EditCharityRunnerHandler"
            commandId="ch.eugster.events.charity.command.charity.runner.edit">
      </handler>
      <handler
            class="ch.eugster.events.charity.handlers.DeleteCharityRunnerHandler"
            commandId="ch.eugster.events.charity.command.charity.runner.delete">
      </handler>
   </extension>

</plugin>
