<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="ch.eugster.events.ui.toolbar.editor.actions">
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:ch.eugster.events.core.views.general?after=additions">
         <command
               commandId="ch.eugster.events.ui.command.activateOutlineView"
               label="Outline"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.window.showViewMenu"
               label="Weitere..."
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ch.eugster.events.ui.handlers.ActivateOutlineViewHandler"
            id="ch.eugster.events.ui.command.activateOutlineView"
            name="Outline">
      </command>
   </extension>

</plugin>
