* text=auto !eol
ch.eugster.events.addressgroup/.classpath -text
ch.eugster.events.addressgroup/.project -text
ch.eugster.events.addressgroup/.settings/org.eclipse.pde.core.prefs -text
ch.eugster.events.addressgroup/META-INF/MANIFEST.MF -text
ch.eugster.events.addressgroup/build.properties -text
ch.eugster.events.addressgroup/icons/add_16.gif -text
ch.eugster.events.addressgroup/icons/add_grey_16.gif -text
ch.eugster.events.addressgroup/icons/addressgroup_16.png -text
ch.eugster.events.addressgroup/icons/addressgroup_add_16.png -text
ch.eugster.events.addressgroup/icons/addressgroup_add_grey_16.png -text
ch.eugster.events.addressgroup/icons/addressgroup_delete_16.png -text
ch.eugster.events.addressgroup/icons/addressgroup_delete_grey_16.png -text
ch.eugster.events.addressgroup/icons/addressgroup_edit_16.png -text
ch.eugster.events.addressgroup/icons/addressgroup_edit_grey_16.png -text
ch.eugster.events.addressgroup/icons/browse_16.png -text
ch.eugster.events.addressgroup/icons/browse_grey_16.png -text
ch.eugster.events.addressgroup/icons/category_16.png -text
ch.eugster.events.addressgroup/icons/category_add_16.png -text
ch.eugster.events.addressgroup/icons/category_add_grey_16.png -text
ch.eugster.events.addressgroup/icons/category_delete_16.png -text
ch.eugster.events.addressgroup/icons/category_delete_grey_16.png -text
ch.eugster.events.addressgroup/icons/category_edit_16.png -text
ch.eugster.events.addressgroup/icons/category_edit_grey_16.png -text
ch.eugster.events.addressgroup/icons/copy.png -text
ch.eugster.events.addressgroup/icons/cut.png -text
ch.eugster.events.addressgroup/icons/delete_16.png -text
ch.eugster.events.addressgroup/icons/delete_grey_16.png -text
ch.eugster.events.addressgroup/icons/edit_16.png -text
ch.eugster.events.addressgroup/icons/edit_grey_16.png -text
ch.eugster.events.addressgroup/icons/email_16.png -text
ch.eugster.events.addressgroup/icons/email_grey_16.png -text
ch.eugster.events.addressgroup/icons/home_16.png -text
ch.eugster.events.addressgroup/icons/member_add_16.png -text
ch.eugster.events.addressgroup/icons/member_add_grey_16.png -text
ch.eugster.events.addressgroup/icons/member_blue_16.png -text
ch.eugster.events.addressgroup/icons/member_delete_16.png -text
ch.eugster.events.addressgroup/icons/member_delete_grey_16.png -text
ch.eugster.events.addressgroup/icons/member_edit_16.png -text
ch.eugster.events.addressgroup/icons/member_edit_grey_16.png -text
ch.eugster.events.addressgroup/icons/paste.png -text
ch.eugster.events.addressgroup/icons/remove_16.png -text
ch.eugster.events.addressgroup/icons/reset_16.png -text
ch.eugster.events.addressgroup/icons/reset_grey_16.png -text
ch.eugster.events.addressgroup/icons/save_16.png -text
ch.eugster.events.addressgroup/icons/save_grey_16.png -text
ch.eugster.events.addressgroup/icons/view_16.png -text
ch.eugster.events.addressgroup/icons/view_grey_16.png -text
ch.eugster.events.addressgroup/icons/work_16.png -text
ch.eugster.events.addressgroup/icons/work_grey_16.png -text
ch.eugster.events.addressgroup/plugin.xml -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/Activator.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/AddressGroupFormatter.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/PerspectiveFactory.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/actions/ResetEditorActionDelegate.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/actions/SaveEditorActionDelegate.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/dialogs/AddressGroupMemberDialog.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/dialogs/AddressGroupMemberSorter.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/dialogs/AddressGroupMemberTreeContentProvider.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/dialogs/AddressGroupMemberTreeLabelProvider.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/dialogs/AddressListDialog.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/dialogs/FormLetterDialog.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/dnd/AddressGroupMemberTransfer.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/dnd/AddressGroupTransfer.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/dnd/AddressGroupViewerDropAdapter.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/editors/AddressGroupCategoryEditor.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/editors/AddressGroupCategoryEditorInput.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/editors/AddressGroupEditor.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/editors/AddressGroupEditorInput.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/ActivateAddressGroupMemberViewHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/ActivateAddressGroupViewHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/ActivatePersonAddressGroupMemberViewHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/AddAddressGroupHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/AddCategoryHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/CopyHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/CutHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/DeleteAddressGroupHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/DeleteAddressGroupMemberHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/DeleteCategoryHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/DeleteHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/EditAddressGroupHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/EditAddressGroupMembers.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/EditCategoryHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/GenerateAddressListHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/GenerateFormLetterHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/OpenWebsiteHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/PasteHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/ResetPersonAddressGroupMemberHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/SelectAllHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/SendEmailHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/UpdatePersonAddressGroupMemberHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/preferences/AddressGroupPreferencePage.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/preferences/FormLetterFolderPreferencePage.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/preferences/PreferenceInitializer.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/AddressGroupContentProvider.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/AddressGroupLabelProvider.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/AddressGroupMemberContentProvider.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/AddressGroupMemberNameFilter.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/AddressGroupMemberSorter.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/AddressGroupMemberView.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/AddressGroupSorter.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/AddressGroupView.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/PersonAddressGroupMemberSorter.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/PersonAddressGroupMemberTreeContentProvider.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/PersonAddressGroupMemberTreeLabelProvider.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/PersonAddressGroupMemberView.java -text
