* text=auto !eol
ch.eugster.events.addressgroup.feature/.project -text
ch.eugster.events.addressgroup.feature/build.properties -text
ch.eugster.events.addressgroup.feature/feature.xml -text
ch.eugster.events.addressgroup/.classpath -text
ch.eugster.events.addressgroup/.project -text
ch.eugster.events.addressgroup/.settings/org.eclipse.pde.core.prefs -text
ch.eugster.events.addressgroup/META-INF/MANIFEST.MF -text
ch.eugster.events.addressgroup/build.properties -text
ch.eugster.events.addressgroup/icons/add_16.gif -text
ch.eugster.events.addressgroup/icons/add_grey_16.gif -text
ch.eugster.events.addressgroup/icons/addressgroup_16.png -text
ch.eugster.events.addressgroup/icons/addressgroup_add_16.png -text
ch.eugster.events.addressgroup/icons/addressgroup_add_grey_16.png -text
ch.eugster.events.addressgroup/icons/addressgroup_delete_16.png -text
ch.eugster.events.addressgroup/icons/addressgroup_delete_grey_16.png -text
ch.eugster.events.addressgroup/icons/addressgroup_edit_16.png -text
ch.eugster.events.addressgroup/icons/addressgroup_edit_grey_16.png -text
ch.eugster.events.addressgroup/icons/browse_16.png -text
ch.eugster.events.addressgroup/icons/browse_grey_16.png -text
ch.eugster.events.addressgroup/icons/category_16.png -text
ch.eugster.events.addressgroup/icons/category_add_16.png -text
ch.eugster.events.addressgroup/icons/category_add_grey_16.png -text
ch.eugster.events.addressgroup/icons/category_delete_16.png -text
ch.eugster.events.addressgroup/icons/category_delete_grey_16.png -text
ch.eugster.events.addressgroup/icons/category_edit_16.png -text
ch.eugster.events.addressgroup/icons/category_edit_grey_16.png -text
ch.eugster.events.addressgroup/icons/copy.png -text
ch.eugster.events.addressgroup/icons/cut.png -text
ch.eugster.events.addressgroup/icons/delete_16.png -text
ch.eugster.events.addressgroup/icons/delete_grey_16.png -text
ch.eugster.events.addressgroup/icons/edit_16.png -text
ch.eugster.events.addressgroup/icons/edit_grey_16.png -text
ch.eugster.events.addressgroup/icons/email_16.png -text
ch.eugster.events.addressgroup/icons/email_grey_16.png -text
ch.eugster.events.addressgroup/icons/home_16.png -text
ch.eugster.events.addressgroup/icons/member_add_16.png -text
ch.eugster.events.addressgroup/icons/member_add_grey_16.png -text
ch.eugster.events.addressgroup/icons/member_blue_16.png -text
ch.eugster.events.addressgroup/icons/member_delete_16.png -text
ch.eugster.events.addressgroup/icons/member_delete_grey_16.png -text
ch.eugster.events.addressgroup/icons/member_edit_16.png -text
ch.eugster.events.addressgroup/icons/member_edit_grey_16.png -text
ch.eugster.events.addressgroup/icons/paste.png -text
ch.eugster.events.addressgroup/icons/remove_16.png -text
ch.eugster.events.addressgroup/icons/reset_16.png -text
ch.eugster.events.addressgroup/icons/reset_grey_16.png -text
ch.eugster.events.addressgroup/icons/save_16.png -text
ch.eugster.events.addressgroup/icons/save_grey_16.png -text
ch.eugster.events.addressgroup/icons/view_16.png -text
ch.eugster.events.addressgroup/icons/view_grey_16.png -text
ch.eugster.events.addressgroup/icons/work_16.png -text
ch.eugster.events.addressgroup/icons/work_grey_16.png -text
ch.eugster.events.addressgroup/plugin.xml -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/Activator.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/AddressGroupFormatter.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/PerspectiveFactory.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/actions/ResetEditorActionDelegate.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/actions/SaveEditorActionDelegate.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/dialogs/AddressGroupMemberDialog.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/dialogs/AddressGroupMemberSorter.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/dialogs/AddressGroupMemberTreeContentProvider.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/dialogs/AddressGroupMemberTreeLabelProvider.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/dialogs/AddressListDialog.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/dialogs/FormLetterDialog.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/dnd/AddressGroupMemberTransfer.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/dnd/AddressGroupTransfer.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/dnd/AddressGroupViewerDropAdapter.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/editors/AddressGroupCategoryEditor.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/editors/AddressGroupCategoryEditorInput.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/editors/AddressGroupEditor.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/editors/AddressGroupEditorInput.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/ActivateAddressGroupMemberViewHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/ActivateAddressGroupViewHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/ActivatePersonAddressGroupMemberViewHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/AddAddressGroupHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/AddCategoryHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/CopyHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/CutHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/DeleteAddressGroupHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/DeleteAddressGroupMemberHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/DeleteCategoryHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/DeleteHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/EditAddressGroupHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/EditAddressGroupMembers.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/EditCategoryHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/GenerateAddressListHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/GenerateFormLetterHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/OpenWebsiteHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/PasteHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/ResetPersonAddressGroupMemberHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/SelectAllHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/SendEmailHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/UpdatePersonAddressGroupMemberHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/preferences/AddressGroupPreferencePage.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/preferences/FormLetterFolderPreferencePage.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/preferences/PreferenceInitializer.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/AddressGroupContentProvider.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/AddressGroupLabelProvider.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/AddressGroupMemberContentProvider.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/AddressGroupMemberNameFilter.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/AddressGroupMemberSorter.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/AddressGroupMemberView.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/AddressGroupSorter.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/AddressGroupView.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/PersonAddressGroupMemberSorter.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/PersonAddressGroupMemberTreeContentProvider.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/PersonAddressGroupMemberTreeLabelProvider.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/PersonAddressGroupMemberView.java -text
ch.eugster.events.addresstype.feature/.project -text
ch.eugster.events.addresstype.feature/build.properties -text
ch.eugster.events.addresstype.feature/feature.xml -text
ch.eugster.events.addresstype/.classpath -text
ch.eugster.events.addresstype/.project -text
ch.eugster.events.addresstype/.settings/org.eclipse.jdt.core.prefs -text
ch.eugster.events.addresstype/.settings/org.eclipse.pde.core.prefs -text
ch.eugster.events.addresstype/META-INF/MANIFEST.MF -text
ch.eugster.events.addresstype/build.properties -text
ch.eugster.events.addresstype/icons/add_16.gif -text
ch.eugster.events.addresstype/icons/add_grey_16.gif -text
ch.eugster.events.addresstype/icons/delete_16.png -text
ch.eugster.events.addresstype/icons/delete_grey_16.png -text
ch.eugster.events.addresstype/icons/edit_16.png -text
ch.eugster.events.addresstype/icons/edit_grey_16.png -text
ch.eugster.events.addresstype/icons/factory_16x16.png -text
ch.eugster.events.addresstype/icons/home_16x16.png -text
ch.eugster.events.addresstype/icons/propeller_16x16.png -text
ch.eugster.events.addresstype/icons/reset_16.png -text
ch.eugster.events.addresstype/icons/reset_grey_16.png -text
ch.eugster.events.addresstype/icons/save_16.png -text
ch.eugster.events.addresstype/icons/save_grey_16.png -text
ch.eugster.events.addresstype/plugin.xml -text
ch.eugster.events.addresstype/src/ch/eugster/events/addresstype/Activator.java -text
ch.eugster.events.addresstype/src/ch/eugster/events/addresstype/editors/AddressTypeEditor.java -text
ch.eugster.events.addresstype/src/ch/eugster/events/addresstype/editors/AddressTypeEditorInput.java -text
ch.eugster.events.addresstype/src/ch/eugster/events/addresstype/handlers/AddAddressTypeHandler.java -text
ch.eugster.events.addresstype/src/ch/eugster/events/addresstype/handlers/DeleteAddressTypeHandler.java -text
ch.eugster.events.addresstype/src/ch/eugster/events/addresstype/handlers/EditAddressTypeHandler.java -text
ch.eugster.events.addresstype/src/ch/eugster/events/addresstype/views/AddressTypeContentProvider.java -text
ch.eugster.events.addresstype/src/ch/eugster/events/addresstype/views/AddressTypeSorter.java -text
ch.eugster.events.addresstype/src/ch/eugster/events/addresstype/views/AddressTypeView.java -text
ch.eugster.events.category/.classpath -text
ch.eugster.events.category/.project -text
ch.eugster.events.category/.settings/org.eclipse.pde.core.prefs -text
ch.eugster.events.category/META-INF/MANIFEST.MF -text
ch.eugster.events.category/build.properties -text
ch.eugster.events.category/icons/add_16.gif -text
ch.eugster.events.category/icons/add_grey_16.gif -text
ch.eugster.events.category/icons/category_16.png -text
ch.eugster.events.category/icons/checked_16.png -text
ch.eugster.events.category/icons/delete_16.png -text
ch.eugster.events.category/icons/delete_grey_16.png -text
ch.eugster.events.category/icons/edit_16.png -text
ch.eugster.events.category/icons/edit_grey_16.png -text
ch.eugster.events.category/icons/remove_16.png -text
ch.eugster.events.category/icons/reset_16.png -text
ch.eugster.events.category/icons/reset_grey_16.png -text
ch.eugster.events.category/icons/save_16.png -text
ch.eugster.events.category/icons/save_grey_16.png -text
ch.eugster.events.category/icons/show_view_16.png -text
ch.eugster.events.category/icons/show_view_grey_16.png -text
ch.eugster.events.category/plugin.xml -text
ch.eugster.events.category/src/ch/eugster/events/category/Activator.java -text
ch.eugster.events.category/src/ch/eugster/events/category/editors/CategoryEditor.java -text
ch.eugster.events.category/src/ch/eugster/events/category/editors/CategoryEditorInput.java -text
ch.eugster.events.category/src/ch/eugster/events/category/handlers/AddCategoryHandler.java -text
ch.eugster.events.category/src/ch/eugster/events/category/handlers/DeleteCategoryHandler.java -text
ch.eugster.events.category/src/ch/eugster/events/category/handlers/EditCategoryHandler.java -text
ch.eugster.events.category/src/ch/eugster/events/category/views/CategoryContentProvider.java -text
ch.eugster.events.category/src/ch/eugster/events/category/views/CategorySorter.java -text
ch.eugster.events.category/src/ch/eugster/events/category/views/CategoryView.java -text
ch.eugster.events.core.feature/.project -text
ch.eugster.events.core.feature/build.properties -text
ch.eugster.events.core.feature/feature.xml -text
ch.eugster.events.core/.classpath -text
ch.eugster.events.core/.project -text
ch.eugster.events.core/.settings/org.eclipse.pde.core.prefs -text
ch.eugster.events.core/META-INF/MANIFEST.MF -text
ch.eugster.events.core/Thumbs.db -text
ch.eugster.events.core/administrator.product -text
ch.eugster.events.core/build.properties -text
ch.eugster.events.core/doc/Handbuch.odt -text
ch.eugster.events.core/doc/Thumbs.db -text
ch.eugster.events.core/epl-v10.html -text
ch.eugster.events.core/icons/Thumbs.db -text
ch.eugster.events.core/icons/add_16.png -text
ch.eugster.events.core/icons/alt_about.gif -text
ch.eugster.events.core/icons/alt_launcher.icns -text
ch.eugster.events.core/icons/alt_launcher.ico -text
ch.eugster.events.core/icons/alt_launcher.xpm -text
ch.eugster.events.core/icons/alt_window_16.gif -text
ch.eugster.events.core/icons/alt_window_32.gif -text
ch.eugster.events.core/icons/close_16.png -text
ch.eugster.events.core/icons/events_16.bmp -text
ch.eugster.events.core/icons/events_32.bmp -text
ch.eugster.events.core/icons/events_48.bmp -text
ch.eugster.events.core/icons/exit_16.png -text
ch.eugster.events.core/icons/exit_old16.png -text
ch.eugster.events.core/icons/group_128.png -text
ch.eugster.events.core/icons/group_16.png -text
ch.eugster.events.core/icons/group_32.png -text
ch.eugster.events.core/icons/group_48.png -text
ch.eugster.events.core/icons/group_64.png -text
ch.eugster.events.core/icons/new_persp.gif -text
ch.eugster.events.core/icons/open_16.png -text
ch.eugster.events.core/icons/perspective_16.gif -text
ch.eugster.events.core/icons/view_16.png -text
ch.eugster.events.core/icons/view_grey_16.png -text
ch.eugster.events.core/intro/introContent.xml -text
ch.eugster.events.core/p2.inf -text
ch.eugster.events.core/plugin.xml -text
ch.eugster.events.core/plugin_customization.ini -text
ch.eugster.events.core/splash.bmp -text
ch.eugster.events.core/splash_orig.bmp -text
ch.eugster.events.core/splash_titled.bmp -text
ch.eugster.events.core/src/ch/eugster/events/core/Activator.java -text
ch.eugster.events.core/src/ch/eugster/events/core/Application.java -text
ch.eugster.events.core/src/ch/eugster/events/core/ApplicationActionBarAdvisor.java -text
ch.eugster.events.core/src/ch/eugster/events/core/ApplicationWorkbenchAdvisor.java -text
ch.eugster.events.core/src/ch/eugster/events/core/ApplicationWorkbenchWindowAdvisor.java -text
ch.eugster.events.core/src/ch/eugster/events/core/EventsSplashHandler.java -text
ch.eugster.events.core/src/ch/eugster/events/core/Perspective.java -text
ch.eugster.events.core/src/ch/eugster/events/core/PerspectiveSwitcherMenu.java -text
ch.eugster.events.core/src/ch/eugster/events/core/handlers/ActivateOutlineViewHandler.java -text
ch.eugster.events.core/src/ch/eugster/events/core/handlers/Quit.java -text
ch.eugster.events.core/src/org/eclipse/ui/intro/config/CustomizableIntroPart.java -text
ch.eugster.events.core/src/org/eclipse/ui/intro/config/IntroContentDetector.java -text
ch.eugster.events.core/top.jpg -text
