* text=auto !eol
ch.eugster.events.addressgroup.feature/.project -text
ch.eugster.events.addressgroup.feature/build.properties -text
ch.eugster.events.addressgroup.feature/feature.xml -text
ch.eugster.events.addressgroup/.classpath -text
ch.eugster.events.addressgroup/.project -text
ch.eugster.events.addressgroup/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
ch.eugster.events.addressgroup/.settings/org.eclipse.pde.core.prefs -text
ch.eugster.events.addressgroup/META-INF/MANIFEST.MF -text
ch.eugster.events.addressgroup/build.properties -text
ch.eugster.events.addressgroup/icons/add_16.gif -text
ch.eugster.events.addressgroup/icons/add_grey_16.gif -text
ch.eugster.events.addressgroup/icons/address_16.png -text
ch.eugster.events.addressgroup/icons/address_grey_16.png -text
ch.eugster.events.addressgroup/icons/addressgroup_16.png -text
ch.eugster.events.addressgroup/icons/addressgroup_add_16.png -text
ch.eugster.events.addressgroup/icons/addressgroup_add_grey_16.png -text
ch.eugster.events.addressgroup/icons/addressgroup_delete_16.png -text
ch.eugster.events.addressgroup/icons/addressgroup_delete_grey_16.png -text
ch.eugster.events.addressgroup/icons/addressgroup_edit_16.png -text
ch.eugster.events.addressgroup/icons/addressgroup_edit_grey_16.png -text
ch.eugster.events.addressgroup/icons/browse_16.png -text
ch.eugster.events.addressgroup/icons/browse_grey_16.png -text
ch.eugster.events.addressgroup/icons/category_16.png -text
ch.eugster.events.addressgroup/icons/category_add_16.png -text
ch.eugster.events.addressgroup/icons/category_add_grey_16.png -text
ch.eugster.events.addressgroup/icons/category_delete_16.png -text
ch.eugster.events.addressgroup/icons/category_delete_grey_16.png -text
ch.eugster.events.addressgroup/icons/category_edit_16.png -text
ch.eugster.events.addressgroup/icons/category_edit_grey_16.png -text
ch.eugster.events.addressgroup/icons/clear_16.png -text
ch.eugster.events.addressgroup/icons/copy.png -text
ch.eugster.events.addressgroup/icons/cut.png -text
ch.eugster.events.addressgroup/icons/delete_16.png -text
ch.eugster.events.addressgroup/icons/delete_grey_16.png -text
ch.eugster.events.addressgroup/icons/domain_16.gif -text
ch.eugster.events.addressgroup/icons/edit_16.png -text
ch.eugster.events.addressgroup/icons/edit_grey_16.png -text
ch.eugster.events.addressgroup/icons/email_16.png -text
ch.eugster.events.addressgroup/icons/email_grey_16.png -text
ch.eugster.events.addressgroup/icons/factory_grey_16.png -text
ch.eugster.events.addressgroup/icons/factory_yellow_16.png -text
ch.eugster.events.addressgroup/icons/home_16.png -text
ch.eugster.events.addressgroup/icons/member_add_16.png -text
ch.eugster.events.addressgroup/icons/member_add_grey_16.png -text
ch.eugster.events.addressgroup/icons/member_blue_16.png -text
ch.eugster.events.addressgroup/icons/member_delete_16.png -text
ch.eugster.events.addressgroup/icons/member_delete_grey_16.png -text
ch.eugster.events.addressgroup/icons/member_edit_16.png -text
ch.eugster.events.addressgroup/icons/member_edit_grey_16.png -text
ch.eugster.events.addressgroup/icons/paste.png -text
ch.eugster.events.addressgroup/icons/person_blue_16.png -text
ch.eugster.events.addressgroup/icons/person_grey_16.png -text
ch.eugster.events.addressgroup/icons/refresh_16.png -text
ch.eugster.events.addressgroup/icons/remove_16.png -text
ch.eugster.events.addressgroup/icons/reset_16.png -text
ch.eugster.events.addressgroup/icons/reset_grey_16.png -text
ch.eugster.events.addressgroup/icons/save_16.png -text
ch.eugster.events.addressgroup/icons/save_grey_16.png -text
ch.eugster.events.addressgroup/icons/view_16.png -text
ch.eugster.events.addressgroup/icons/view_grey_16.png -text
ch.eugster.events.addressgroup/plugin.xml -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/Activator.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/AddressGroupFormatter.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/AddressGroupMemberSelector.java -text svneol=unset#text/plain
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/ContributionItem.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/Monitor.java -text svneol=unset#text/plain
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/PerspectiveFactory.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/actions/ResetEditorActionDelegate.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/actions/SaveEditorActionDelegate.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/dialogs/AddressGroupMemberDialog.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/dialogs/AddressGroupMemberSorter.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/dialogs/AddressGroupMemberTreeContentProvider.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/dialogs/AddressGroupMemberTreeLabelProvider.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/dnd/AddressGroupMemberTransfer.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/dnd/AddressGroupTransfer.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/dnd/AddressGroupViewerDropAdapter.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/editors/AddressGroupCategoryEditor.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/editors/AddressGroupCategoryEditorInput.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/editors/AddressGroupEditor.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/editors/AddressGroupEditorInput.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/ActivateAddressGroupMemberViewHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/ActivateAddressGroupViewHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/ActivatePersonAddressGroupMemberViewHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/AddAddressGroupHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/AddCategoryHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/CopyHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/CutHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/DeleteAddressGroupHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/DeleteAddressGroupMemberHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/DeleteCategoryHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/DeleteDoubleMembersHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/DeleteHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/EditAddressGroupHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/EditAddressGroupMembers.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/EditCategoryHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/NewAddressGroupHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/OpenWebsiteHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/PasteHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/RefreshHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/ResetPersonAddressGroupMemberHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/SelectAllHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/SendEmailHandler.java -text svneol=unset#text/plain
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/handlers/UpdatePersonAddressGroupMemberHandler.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/preferences/AddressGroupPreferencePage.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/preferences/FormLetterFolderPreferencePage.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/preferences/PreferenceInitializer.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/AddressGroupContentProvider.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/AddressGroupLabelProvider.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/AddressGroupMemberContentProvider.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/AddressGroupMemberFilter.java -text svneol=unset#text/plain
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/AddressGroupMemberSorter.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/AddressGroupMemberTreeSorter.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/AddressGroupMemberView.java -text svneol=unset#text/plain
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/AddressGroupSorter.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/AddressGroupView.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/PersonAddressGroupMemberSorter.java -text svneol=unset#text/plain
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/PersonAddressGroupMemberTreeContentProvider.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/PersonAddressGroupMemberTreeLabelProvider.java -text
ch.eugster.events.addressgroup/src/ch/eugster/events/addressgroup/views/PersonAddressGroupMemberView.java -text
ch.eugster.events.addresstype.feature/.project -text
ch.eugster.events.addresstype.feature/build.properties -text
ch.eugster.events.addresstype.feature/feature.xml -text
ch.eugster.events.charity.feature/.project -text svneol=unset#text/plain
ch.eugster.events.charity.feature/build.properties -text svneol=unset#text/plain
ch.eugster.events.charity.feature/feature.xml -text svneol=unset#text/plain
ch.eugster.events.core.feature/.project -text
ch.eugster.events.core.feature/build.properties -text
ch.eugster.events.core.feature/feature.xml -text
ch.eugster.events.country.feature/.project -text
ch.eugster.events.country.feature/build.properties -text
ch.eugster.events.country.feature/feature.xml -text
ch.eugster.events.course.feature/.project -text
ch.eugster.events.course.feature/build.properties -text
ch.eugster.events.course.feature/feature.xml -text
ch.eugster.events.documents.feature/.project -text
ch.eugster.events.documents.feature/build.properties -text
ch.eugster.events.documents.feature/feature.xml -text
ch.eugster.events.documents.odfdom.feature/.project -text
ch.eugster.events.documents.odfdom.feature/build.properties -text
ch.eugster.events.documents.odfdom.feature/feature.xml -text
ch.eugster.events.documents.poi.feature/.project -text
ch.eugster.events.documents.poi.feature/build.properties -text
ch.eugster.events.documents.poi.feature/feature.xml -text
ch.eugster.events.documents.xml.feature/.project -text
ch.eugster.events.documents.xml.feature/build.properties -text
ch.eugster.events.documents.xml.feature/feature.xml -text
ch.eugster.events.domain.feature/.project -text
ch.eugster.events.domain.feature/build.properties -text
ch.eugster.events.domain.feature/feature.xml -text
ch.eugster.events.donation.feature/.project -text
ch.eugster.events.donation.feature/build.properties -text
ch.eugster.events.donation.feature/feature.xml -text
ch.eugster.events.import.feature/.project -text
ch.eugster.events.import.feature/build.properties -text
ch.eugster.events.import.feature/feature.xml -text
ch.eugster.events.member.feature/.project -text
ch.eugster.events.member.feature/build.properties -text
ch.eugster.events.member.feature/feature.xml -text
ch.eugster.events.merge.feature/.project -text
ch.eugster.events.merge.feature/build.properties -text
ch.eugster.events.merge.feature/feature.xml -text
ch.eugster.events.persistence.feature/.project -text
ch.eugster.events.persistence.feature/build.properties -text
ch.eugster.events.persistence.feature/feature.xml -text
ch.eugster.events.person.feature/.project -text
ch.eugster.events.person.feature/build.properties -text
ch.eugster.events.person.feature/feature.xml -text
ch.eugster.events.report.feature/.project -text
ch.eugster.events.report.feature/build.properties -text
ch.eugster.events.report.feature/feature.xml -text
ch.eugster.events.todo.feature/.project -text
ch.eugster.events.todo.feature/build.properties -text
ch.eugster.events.todo.feature/feature.xml -text
ch.eugster.events.ui.feature/.project -text
ch.eugster.events.ui.feature/build.properties -text
ch.eugster.events.ui.feature/feature.xml -text
ch.eugster.events.user.feature/.project -text
ch.eugster.events.user.feature/build.properties -text
ch.eugster.events.user.feature/feature.xml -text
ch.eugster.events.utilities.console.feature/.project -text
ch.eugster.events.utilities.console.feature/build.properties -text
ch.eugster.events.utilities.console.feature/feature.xml -text
ch.eugster.events.visits.feature/.project -text
ch.eugster.events.visits.feature/build.properties -text
ch.eugster.events.visits.feature/feature.xml -text
ch.eugster.events.zipcode.feature/.project -text
ch.eugster.events.zipcode.feature/build.properties -text
ch.eugster.events.zipcode.feature/feature.xml -text
ch.eugster.poi.feature/.project -text svneol=unset#text/plain
ch.eugster.poi.feature/build.properties -text svneol=unset#text/plain
ch.eugster.poi.feature/feature.xml -text svneol=unset#text/plain
