ch.eugster.events.addressgroup.report/ch.eugster.events.addressgroup.report/bin
ch.eugster.events.report.commons/ch.eugster.events.report.commons/bin
ch.eugster.events.report.rhino/bin
ch.eugster.events.report/bin
ch.eugster.events.report/lib
ch.eugster.events.report/unused
