<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ch.eugster.events.addressgroup.perspective">
         <view
               closeable="true"
               id="ch.eugster.events.addressgroup.groupView"
               minimized="false"
               moveable="true"
               ratio=".5"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="ch.eugster.events.addressgroup.view.memberView"
               minimized="false"
               moveable="true"
               ratio=".5"
               relationship="bottom"
               relative="ch.eugster.events.addressgroup.groupView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="ch.eugster.events.person.perspective">
         <view
               closeable="true"
               id="ch.eugster.events.addressgroup.person.view"
               minimized="false"
               moveable="true"
               ratio=".5"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.eugster.events.addressgroup.PerspectiveFactory"
            icon="icons/addressgroup_16.png"
            id="ch.eugster.events.addressgroup.perspective"
            name="Adressgruppen">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ch.eugster.events.addressgroup.editors.AddressGroupCategoryEditor"
            default="false"
            icon="icons/category_16.png"
            id="ch.eugster.events.addressgroup.editor.category"
            name="Kategorie">
      </editor>
      <editor
            class="ch.eugster.events.addressgroup.editors.AddressGroupEditor"
            default="false"
            icon="icons/addressgroup_16.png"
            id="ch.eugster.events.addressgroup.editor.group"
            name="Adressgruppe">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ch.eugster.events.addressgroup.views.category"
            name="Adressgruppen">
      </category>
      <view
            allowMultiple="true"
            category="ch.eugster.events.addressgroup.views.category"
            class="ch.eugster.events.addressgroup.views.AddressGroupView"
            icon="icons/addressgroup_16.png"
            id="ch.eugster.events.addressgroup.groupView"
            name="Adressgruppen"
            restorable="true">
      </view>
      <view
            category="ch.eugster.events.addressgroup.views.category"
            class="ch.eugster.events.addressgroup.views.AddressGroupMemberView"
            icon="icons/member_blue_16.png"
            id="ch.eugster.events.addressgroup.view.memberView"
            name="Personen"
            restorable="true">
      </view>
      <view
            category="ch.eugster.events.person.category"
            class="ch.eugster.events.addressgroup.views.PersonAddressGroupMemberView"
            icon="icons/addressgroup_16.png"
            id="ch.eugster.events.addressgroup.person.view"
            name="Adressgruppen"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="ch.eugster.events.addressgroup.category"
            name="ch.eugster.events.addressgroup.category">
      </category>
      <command
            categoryId="ch.eugster.events.addressgroup.category"
            description="Neue Adressgruppenkategorie hinzufügen"
            id="ch.eugster.events.addressgroup.command.add.category"
            name="Kategorie hinzufügen">
      </command>
      <command
            categoryId="ch.eugster.events.addressgroup.category"
            description="Bearbeiten der ausgewählten Kategorie"
            id="ch.eugster.events.addressgroup.command.edit.category"
            name="Kategorie bearbeiten">
      </command>
      <command
            categoryId="ch.eugster.events.addressgroup.category"
            description="Entfernen der ausgewählten Kategorie"
            id="ch.eugster.events.addressgroup.command.delete.category"
            name="Kategorie entfernen">
      </command>
      <category
            id="ch.eugster.events.addressgroup.group"
            name="ch.eugster.events.addressgroup.group">
      </category>
      <command
            categoryId="ch.eugster.events.addressgroup.group"
            description="Neue Adressgruppe hinzufügen"
            id="ch.eugster.events.addressgroup.command.add.group"
            defaultHandler="ch.eugster.events.addressgroup.handlers.NewAddressGroupHandler"
            name="Adressgruppe hinzufügen">
      </command>
      <command
            categoryId="ch.eugster.events.addressgroup.group"
            description="Bearbeiten der ausgewählten Adressgruppe"
            id="ch.eugster.events.addressgroup.command.edit.group"
            name="Adressgruppe bearbeiten">
      </command>
      <command
            categoryId="ch.eugster.events.addressgroup.group"
            description="Entfernen der ausgewählten Adressgruppe"
            id="ch.eugster.events.addressgroup.command.delete.group"
            name="Adressgruppe entfernen">
      </command>
      <command
            categoryId="ch.eugster.events.addressgroup.group"
            description="Adressgruppen bearbeiten"
            id="ch.eugster.events.addressgroup.command.editAddressGroupMembers"
            name="Adressgruppen">
      </command>
      <category
            id="category.member"
            name="Adressen">
      </category>
      <command
            description="Öffnet das Emailprogramm für das Versenden einer Email"
            id="ch.eugster.events.addressgroup.command.sendEmail"
            name="Email senden">
      </command>
      <command
            description="Öffnen der Webseite im aktuellen Browser"
            id="ch.eugster.events.addressgroup.command.openWebsite"
            name="Webseite öffnen">
      </command>
      <command
            categoryId="category.member"
            description="Entfernen der ausgewählten Adresse"
            id="ch.eugster.events.addressgroup.command.delete.member"
            name="Entfernen">
      </command>
      <command
            categoryId="ch.eugster.events.addressgroup.category"
            defaultHandler="ch.eugster.events.addressgroup.handlers.ActivateAddressGroupViewHandler"
            id="ch.eugster.events.addressgroup.command.activateAddressGroupView"
            name="Übersicht">
      </command>
      <command
            categoryId="ch.eugster.events.addressgroup.category"
            defaultHandler="ch.eugster.events.addressgroup.handlers.ActivateAddressGroupMemberViewHandler"
            id="ch.eugster.events.addressgroup.command.activateDetailsView"
            name="Details">
      </command>
      <command
            categoryId="category.person"
            defaultHandler="ch.eugster.events.addressgroup.handlers.ActivatePersonAddressGroupMemberViewHandler"
            id="ch.eugster.events.addressgroup.command.activatePersonAddressGroupMemberView"
            name="Adressgruppen">
      </command>
      <command
            categoryId="ch.eugster.events.addressgroup.category"
            id="ch.eugster.events.addressgroup.command.updatePersonAddressGroupMember"
            name="Speichern">
      </command>
      <command
            categoryId="ch.eugster.events.addressgroup.category"
            id="ch.eugster.events.addressgroup.command.resetPersonAddressGroupMember"
            name="Verwerfen">
      </command>
      <command
            defaultHandler="ch.eugster.events.addressgroup.handlers.CutHandler"
            id="ch.eugster.events.addressgroup.cut"
            name="Ausschneiden">
      </command>
      <command
            defaultHandler="ch.eugster.events.addressgroup.handlers.CopyHandler"
            id="ch.eugster.events.addressgroup.copy"
            name="Kopieren">
      </command>
      <command
            defaultHandler="ch.eugster.events.addressgroup.handlers.PasteHandler"
            id="ch.eugster.events.addressgroup.paste"
            name="Einfügen">
      </command>
      <command
            defaultHandler="ch.eugster.events.addressgroup.handlers.DeleteHandler"
            id="ch.eugster.events.addressgroup.delete"
            name="Entfernen">
      </command>
      <command
            defaultHandler="ch.eugster.events.addressgroup.handlers.SelectAllHandler"
            id="ch.eugster.events.addressgroup.select.all"
            name="Alles auswählen">
      </command>
      <command
            defaultHandler="ch.eugster.events.addressgroup.handlers.RefreshHandler"
            id="ch.eugster.events.addressgroup.command.refresh"
            name="Refresh">
      </command>
      <command
            defaultHandler="ch.eugster.events.addressgroup.handlers.DeleteDoubleMembersHandler"
            id="ch.eugster.events.addressgroup.command.deleteDoubleMembers"
            name="Delete Double Members">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.eugster.events.addressgroup.handlers.AddCategoryHandler"
            commandId="ch.eugster.events.addressgroup.command.add.category">
         <activeWhen>
            <reference
                  definitionId="ch.eugster.events.addressgroup.definition.active.part.groupView">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="ch.eugster.events.addressgroup.definition.active.part.groupView">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.events.addressgroup.handlers.EditCategoryHandler"
            commandId="ch.eugster.events.addressgroup.command.edit.category">
         <activeWhen>
            <and>
               <count
                     value="1">
               </count>
               <reference
                     definitionId="ch.eugster.events.addressgroup.definition.selected.items.category">
               </reference>
            </and>
         </activeWhen>
         <enabledWhen>
            <and>
               <count
                     value="1">
               </count>
               <reference
                     definitionId="ch.eugster.events.addressgroup.definition.selected.items.category">
               </reference>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.events.addressgroup.handlers.DeleteCategoryHandler"
            commandId="ch.eugster.events.addressgroup.command.delete.category">
         <activeWhen>
            <and>
               <count
                     value="1">
               </count>
               <reference
                     definitionId="ch.eugster.events.addressgroup.definition.selected.items.category">
               </reference>
            </and>
         </activeWhen>
         <enabledWhen>
            <and>
               <count
                     value="1">
               </count>
               <reference
                     definitionId="ch.eugster.events.addressgroup.definition.selected.items.category">
               </reference>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.events.addressgroup.handlers.AddAddressGroupHandler"
            commandId="ch.eugster.events.addressgroup.command.add.group">
         <activeWhen>
            <and>
               <count
                     value="1">
               </count>
               <reference
                     definitionId="ch.eugster.events.addressgroup.definition.selected.items.category">
               </reference>
            </and>
         </activeWhen>
         <enabledWhen>
            <and>
               <count
                     value="1">
               </count>
               <reference
                     definitionId="ch.eugster.events.addressgroup.definition.selected.items.category">
               </reference>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.events.addressgroup.handlers.EditAddressGroupHandler"
            commandId="ch.eugster.events.addressgroup.command.edit.group">
         <activeWhen>
            <and>
               <count
                     value="1">
               </count>
               <reference
                     definitionId="ch.eugster.events.addressgroup.definition.selected.items.group">
               </reference>
            </and>
         </activeWhen>
         <enabledWhen>
            <and>
               <count
                     value="1">
               </count>
               <reference
                     definitionId="ch.eugster.events.addressgroup.definition.selected.items.group">
               </reference>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.events.addressgroup.handlers.DeleteAddressGroupHandler"
            commandId="ch.eugster.events.addressgroup.command.delete.group">
         <activeWhen>
            <and>
               <count
                     value="1">
               </count>
               <reference
                     definitionId="ch.eugster.events.addressgroup.definition.selected.items.group">
               </reference>
            </and>
         </activeWhen>
         <enabledWhen>
            <and>
               <count
                     value="1">
               </count>
               <reference
                     definitionId="ch.eugster.events.addressgroup.definition.selected.items.group">
               </reference>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.events.addressgroup.handlers.EditAddressGroupMembers"
            commandId="ch.eugster.events.addressgroup.command.editAddressGroupMembers">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <instanceof
                              value="ch.eugster.events.persistence.model.LinkPersonAddress">
                        </instanceof>
                        <instanceof
                              value="ch.eugster.events.persistence.model.Person">
                        </instanceof>
                        <instanceof
                              value="ch.eugster.events.persistence.model.Address">
                        </instanceof>
                        <instanceof
                              value="ch.eugster.events.persistence.model.AddressGroupMember">
                        </instanceof>
                     </or>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.events.addressgroup.handlers.OpenWebsiteHandler"
            commandId="ch.eugster.events.addressgroup.command.openWebsite">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="ch.eugster.events.persistence.model.AddressGroupMember">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.events.addressgroup.handlers.DeleteAddressGroupMemberHandler"
            commandId="ch.eugster.events.addressgroup.command.delete.member">
         <enabledWhen>
            <and>
               <iterate>
                  <instanceof
                        value="ch.eugster.events.persistence.model.AddressGroupMember">
                  </instanceof>
               </iterate>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.events.addressgroup.handlers.UpdatePersonAddressGroupMemberHandler"
            commandId="ch.eugster.events.addressgroup.command.updatePersonAddressGroupMember">
         <enabledWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="ch.eugster.events.addressgroup.views.PersonAddressGroupMemberView">
               </instanceof>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.events.addressgroup.handlers.ResetPersonAddressGroupMemberHandler"
            commandId="ch.eugster.events.addressgroup.command.resetPersonAddressGroupMember">
         <enabledWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="ch.eugster.events.addressgroup.views.PersonAddressGroupMemberView">
               </instanceof>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:ch.eugster.events.addressgroup.groupView?after=additions">
         <command
               commandId="ch.eugster.events.addressgroup.command.add.category"
               disabledIcon="icons/category_add_grey_16.png"
               hoverIcon="icons/category_add_16.png"
               icon="icons/category_add_16.png"
               id="ch.eugster.events.addressgroup.command.add.category"
               label="Kategorie hinzufügen"
               style="push"
               tooltip="Hinzufügen einer neuen Kategorie">
         </command>
         <command
               commandId="ch.eugster.events.addressgroup.command.edit.category"
               disabledIcon="icons/category_edit_grey_16.png"
               hoverIcon="icons/category_edit_16.png"
               icon="icons/category_edit_16.png"
               id="ch.eugster.events.addressgroup.command.edit.category"
               label="Kategorie bearbeiten"
               style="push"
               tooltip="Bearbeiten der ausgewählten Kategorie">
         </command>
         <command
               commandId="ch.eugster.events.addressgroup.command.delete.category"
               disabledIcon="icons/category_delete_grey_16.png"
               hoverIcon="icons/category_delete_16.png"
               icon="icons/category_delete_16.png"
               id="ch.eugster.events.addressgroup.command.delete.category"
               label="Kategorie entfernen"
               style="push"
               tooltip="Entfernen der ausgewählten Kategorie">
         </command>
         <separator
               name="ch.eugster.events.addressgroup.separator2"
               visible="true">
         </separator>
         <command
               commandId="ch.eugster.events.addressgroup.command.add.group"
               disabledIcon="icons/addressgroup_add_grey_16.png"
               hoverIcon="icons/addressgroup_add_16.png"
               icon="icons/addressgroup_add_16.png"
               id="ch.eugster.events.addressgroup.command.add.group"
               label="Gruppe hinzufügen"
               style="push"
               tooltip="Hinzufügen einer neuen Gruppe">
         </command>
         <command
               commandId="ch.eugster.events.addressgroup.command.edit.group"
               disabledIcon="icons/addressgroup_edit_grey_16.png"
               hoverIcon="icons/addressgroup_edit_16.png"
               icon="icons/addressgroup_edit_16.png"
               id="ch.eugster.events.addressgroup.command.edit.group"
               label="Gruppe bearbeiten"
               style="push"
               tooltip="Bearbeiten der ausgewählten Gruppe">
         </command>
         <command
               commandId="ch.eugster.events.addressgroup.command.delete.group"
               disabledIcon="icons/addressgroup_delete_grey_16.png"
               hoverIcon="icons/addressgroup_delete_16.png"
               icon="icons/addressgroup_delete_16.png"
               id="ch.eugster.events.addressgroup.command.delete.group"
               label="Gruppe entfernen"
               style="push"
               tooltip="Entfernen der ausgewählten Gruppe">
         </command>
         <separator
               name="ch.eugster.events.addressgroup.separator1">
         </separator>
         <command
               commandId="ch.eugster.events.addressgroup.command.refresh"
               icon="icons/refresh_16.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:ch.eugster.events.addressgroup.groupView">
         <command
               commandId="ch.eugster.events.addressgroup.cut"
               icon="icons/cut.png"
               label="Ausschneiden"
               style="push"
               tooltip="Gewählte Elemente ausschneiden">
         </command>
         <command
               commandId="ch.eugster.events.addressgroup.copy"
               icon="icons/copy.png"
               label="Kopieren"
               style="push"
               tooltip="Gewählte Element kopieren">
         </command>
         <command
               commandId="ch.eugster.events.addressgroup.paste"
               icon="icons/paste.png"
               label="Einfügen"
               style="push"
               tooltip="Elemente einfügen">
         </command>
         <separator
               name="ch.eugster.events.addressgroup.separator1"
               visible="true">
         </separator>
         <command
               commandId="ch.eugster.events.addressgroup.delete"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="Entfernen"
               style="push"
               tooltip="Die ausgewählten Elemente entfernen">
         </command>
         <separator
               name="ch.eugster.events.addressgroup.separator5">
         </separator>
         <command
               commandId="ch.eugster.events.addressgroup.command.add.category"
               disabledIcon="icons/category_add_grey_16.png"
               hoverIcon="icons/category_add_16.png"
               icon="icons/category_add_16.png"
               id="ch.eugster.events.addressgroup.command.add.category"
               label="Neue Kategorie"
               style="push"
               tooltip="Hinzufügen einer neuen Kategorie">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ch.eugster.events.addressgroup.definition.active.part.groupView">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="ch.eugster.events.addressgroup.command.edit.category"
               disabledIcon="icons/category_edit_grey_16.png"
               hoverIcon="icons/category_edit_16.png"
               icon="icons/category_edit_16.png"
               id="ch.eugster.events.addressgroup.command.edit.category"
               label="Kategorie bearbeiten"
               style="push"
               tooltip="Bearbeiten der ausgewählten Kategorie">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ch.eugster.events.addressgroup.definition.active.menu.selection.category">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="ch.eugster.events.addressgroup.command.delete.category"
               disabledIcon="icons/category_delete_grey_16.png"
               hoverIcon="icons/category_delete_16.png"
               icon="icons/category_delete_16.png"
               id="ch.eugster.events.addressgroup.command.delete.category"
               label="Kategorie entfernen"
               style="push"
               tooltip="Entfernen der ausgewählten Kategorie">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ch.eugster.events.addressgroup.definition.active.menu.selection.category">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="ch.eugster.events.addressgroup.separator2"
               visible="true">
         </separator>
         <command
               commandId="ch.eugster.events.addressgroup.command.add.group"
               disabledIcon="icons/addressgroup_add_grey_16.png"
               hoverIcon="icons/addressgroup_add_16.png"
               icon="icons/addressgroup_add_16.png"
               id="ch.eugster.events.addressgroup.command.add.group"
               label="Neue Gruppe"
               style="push"
               tooltip="Hinzufügen einer neuen Gruppe">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <reference
                        definitionId="ch.eugster.events.addressgroup.definition.active.menu.selection.category">
                  </reference>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="ch.eugster.events.addressgroup.command.edit.group"
               disabledIcon="icons/addressgroup_edit_grey_16.png"
               hoverIcon="icons/addressgroup_edit_16.png"
               icon="icons/addressgroup_edit_16.png"
               id="ch.eugster.events.addressgroup.command.edit.group"
               label="Gruppe bearbeiten"
               style="push"
               tooltip="Bearbeiten der ausgewählten Gruppe">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <reference
                        definitionId="ch.eugster.events.addressgroup.definition.active.menu.selection.group">
                  </reference>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="ch.eugster.events.addressgroup.command.delete.group"
               disabledIcon="icons/addressgroup_delete_grey_16.png"
               hoverIcon="icons/addressgroup_delete_16.png"
               icon="icons/addressgroup_delete_16.png"
               id="ch.eugster.events.addressgroup.command.delete.group"
               label="Gruppe entfernen"
               style="push"
               tooltip="Entfernen der ausgewählten Gruppe">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <reference
                        definitionId="ch.eugster.events.addressgroup.definition.active.menu.selection.group">
                  </reference>
               </and>
            </visibleWhen>
         </command>
         <separator
               name="ch.eugster.events.addressgroup.separator1">
         </separator>
         <command
               commandId="ch.eugster.events.addressgroup.command.refresh"
               icon="icons/refresh_16.png"
               label="Aktualisieren"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:ch.eugster.events.person.view?after=ch.eugster.events.person.separator4">
         <command
               commandId="ch.eugster.events.addressgroup.command.editAddressGroupMembers"
               disabledIcon="icons/member_edit_grey_16.png"
               hoverIcon="icons/member_edit_16.png"
               icon="icons/member_edit_16.png"
               label="Adressgruppen"
               style="push"
               tooltip="Bearbeiten der Adressgruppenzugehörigkeiten">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <or>
                           <instanceof
                                 value="ch.eugster.events.persistence.model.LinkPersonAddress">
                           </instanceof>
                           <instanceof
                                 value="ch.eugster.events.persistence.model.Person">
                           </instanceof>
                           <instanceof
                                 value="ch.eugster.events.persistence.model.Address">
                           </instanceof>
                        </or>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:ch.eugster.events.addressgroup.view.memberView?after=additions">
         <command
               commandId="ch.eugster.events.addressgroup.cut"
               icon="icons/cut.png"
               label="Ausschneiden"
               style="push"
               tooltip="Gewählte Elemente ausschneiden">
         </command>
         <command
               commandId="ch.eugster.events.addressgroup.copy"
               icon="icons/copy.png"
               label="Kopieren"
               style="push"
               tooltip="Gewählte Element kopieren">
         </command>
         <command
               commandId="ch.eugster.events.addressgroup.paste"
               icon="icons/paste.png"
               label="Einfügen"
               style="push"
               tooltip="Elemente einfügen">
         </command>
         <command
               commandId="ch.eugster.events.addressgroup.delete"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="Entfernen"
               style="push"
               tooltip="Die ausgewählten Elemente entfernen">
         </command>
         <command
               commandId="ch.eugster.events.addressgroup.select.all"
               label="Alles auswählen"
               style="push"
               tooltip="Alle Elemente auswählen">
         </command>
         <separator
               name="ch.eugster.events.addressgroup.separator2"
               visible="true">
         </separator>
         <command
               commandId="ch.eugster.events.addressgroup.command.openWebsite"
               disabledIcon="icons/browse_grey_16.png"
               hoverIcon="icons/browse_16.png"
               icon="icons/browse_16.png"
               label="Webseite öffnen"
               style="push"
               tooltip="Öffnen der Webseite des ausgewählten Gruppenmitglieds">
         </command>
         <command
               commandId="ch.eugster.events.addressgroup.command.sendEmail"
               disabledIcon="icons/email_grey_16.png"
               hoverIcon="icons/email_16.png"
               icon="icons/email_16.png"
               label="Email senden"
               style="push"
               tooltip="Schreiben und Senden eines Emails an die ausgewählten Gruppenmitglieder">
         </command>
         <separator
               name="ch.eugster.events.addressgroup.separator3"
               visible="true">
         </separator>
         <command
               commandId="ch.eugster.events.addressgroup.command.editAddressGroupMembers"
               hoverIcon="icons/addressgroup_16.png"
               icon="icons/addressgroup_16.png"
               label="Adressgruppen"
               style="push"
               tooltip="Adressgruppenzugehörigkeiten ändern">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:ch.eugster.events.ui.menu.views?after=additions">
         <menu
               label="Adressgruppen">
            <command
                  commandId="ch.eugster.events.addressgroup.command.activateAddressGroupView"
                  hoverIcon="icons/addressgroup_16.png"
                  icon="icons/addressgroup_16.png"
                  label="Übersicht"
                  style="push">
            </command>
            <command
                  commandId="ch.eugster.events.addressgroup.command.activateDetailsView"
                  hoverIcon="icons/member_blue_16.png"
                  icon="icons/member_blue_16.png"
                  label="Details"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:ch.eugster.events.person.views.menu?after=additions">
         <command
               commandId="ch.eugster.events.addressgroup.command.activatePersonAddressGroupMemberView"
               hoverIcon="icons/addressgroup_16.png"
               icon="icons/addressgroup_16.png"
               label="Adressgruppen"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:ch.eugster.events.addressgroup.person.view?after=additions">
         <command
               commandId="ch.eugster.events.addressgroup.command.updatePersonAddressGroupMember"
               disabledIcon="icons/save_grey_16.png"
               hoverIcon="icons/save_16.png"
               icon="icons/save_16.png"
               label="Speichern"
               style="push"
               tooltip="Speichern der Änderungen">
         </command>
         <command
               commandId="ch.eugster.events.addressgroup.command.resetPersonAddressGroupMember"
               disabledIcon="icons/reset_grey_16.png"
               hoverIcon="icons/reset_16.png"
               icon="icons/reset_16.png"
               label="Verwerfen"
               style="push"
               tooltip="Änderungen verwerfen">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="ch.eugster.events.addressgroup.definition.selected.items.category">
         <with
               variable="selection">
            <iterate>
               <instanceof
                     value="ch.eugster.events.persistence.model.AddressGroupCategory">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="ch.eugster.events.addressgroup.definition.selected.items.group">
         <with
               variable="selection">
            <iterate>
               <instanceof
                     value="ch.eugster.events.persistence.model.AddressGroup">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="ch.eugster.events.addressgroup.definition.active.part.groupView">
         <with
               variable="activePartId">
            <equals
                  value="ch.eugster.events.addressgroup.groupView">
            </equals>
         </with>
      </definition>
      <definition
            id="ch.eugster.events.addressgroup.definition.active.part.memberView">
         <with
               variable="activePartId">
            <equals
                  value="ch.eugster.events.addressgroup.memberView">
            </equals>
         </with>
      </definition>
      <definition
            id="ch.eugster.events.addressgroup.definition.active.menu.selection.category">
         <with
               variable="activeMenuSelection">
            <iterate>
               <instanceof
                     value="ch.eugster.events.persistence.model.AddressGroupCategory">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="ch.eugster.events.addressgroup.definition.active.menu.selection.group">
         <with
               variable="activeMenuSelection">
            <iterate>
               <instanceof
                     value="ch.eugster.events.persistence.model.AddressGroup">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="ch.eugster.events.addressgroup.definition.active.menu.selection.member">
         <with
               variable="activeMenuSelection">
            <iterate>
               <instanceof
                     value="ch.eugster.events.persistence.model.AddressGroupMember">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="ch.eugster.events.addressgroup.addressGroupEditorContribution"
            targetID="ch.eugster.events.addressgroup.editor.group">
         <action
               class="ch.eugster.events.ui.actions.ResetEditorActionDelegate"
               definitionId="org.eclipse.ui.file.revert"
               disabledIcon="icons/reset_grey_16.png"
               hoverIcon="icons/reset_16.png"
               icon="icons/reset_16.png"
               id="ch.eugster.events.addressgroup.addressGroupEditor.revert"
               label="Revert"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Verwerfen der vorgenommenen Änderungen">
         </action>
         <action
               class="ch.eugster.events.ui.actions.SaveEditorActionDelegate"
               definitionId="org.eclipse.ui.file.save"
               disabledIcon="icons/save_grey_16.png"
               hoverIcon="icons/save_16.png"
               icon="icons/save_16.png"
               id="ch.eugster.events.addressgroup.addressGroupEditor.save"
               label="Save"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Speichern der Änderungen im aktuellen Editor">
         </action>
      </editorContribution>
      <editorContribution
            id="ch.eugster.events.addressgroup.addressGroupCategoryEditorContribution"
            targetID="ch.eugster.events.addressgroup.editor.category">
         <action
               class="ch.eugster.events.ui.actions.ResetEditorActionDelegate"
               definitionId="org.eclipse.ui.file.revert"
               disabledIcon="icons/reset_grey_16.png"
               hoverIcon="icons/reset_16.png"
               icon="icons/reset_16.png"
               id="ch.eugster.events.addressgroup.addressGroupCategoryEditor.revert"
               label="Revert"
               mode="FORCE_TEXT"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Verwerfen der Änderungen im aktuellen Editor">
         </action>
         <action
               class="ch.eugster.events.ui.actions.SaveEditorActionDelegate"
               definitionId="org.eclipse.ui.file.save"
               disabledIcon="icons/save_grey_16.png"
               hoverIcon="icons/save_16.png"
               icon="icons/save_16.png"
               id="ch.eugster.events.addressgroup.addressGroupCategoryEditor.save"
               label="Save"
               mode="FORCE_TEXT"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Speichern der Änderungen im aktuellen Editor">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ch.eugster.events.addressgroup.command.add.group"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="ch.eugster.events.core.scheme"
            sequence="M1+G">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="ch.eugster.events.addressgroup.context"
            name="Kontext Adressgruppen"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.eugster.events.addressgroup.page"
            class="ch.eugster.events.addressgroup.preferences.FormLetterFolderPreferencePage"
            id="ch.eugster.events.addressgroup.formletter.page"
            name="Serienbriefe">
      </page>
      <page
            class="ch.eugster.events.addressgroup.preferences.AddressGroupPreferencePage"
            id="ch.eugster.events.addressgroup.page"
            name="Adressgruppen">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ch.eugster.events.addressgroup.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.save"
            contextId="ch.eugster.events.addressgroup.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+S">
      </key>
      <key
            commandId="org.eclipse.ui.file.revert"
            contextId="ch.eugster.events.addressgroup.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R">
      </key>
      <key
            commandId="ch.eugster.events.addressgroup.select.all"
            contextId="ch.eugster.events.addressgroup.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+A">
      </key>
      <key
            commandId="ch.eugster.events.addressgroup.cut"
            contextId="ch.eugster.events.addressgroup.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+X">
      </key>
      <key
            commandId="ch.eugster.events.addressgroup.copy"
            contextId="ch.eugster.events.addressgroup.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+C">
      </key>
      <key
            commandId="ch.eugster.events.addressgroup.paste"
            contextId="ch.eugster.events.addressgroup.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+V">
      </key>
      <key
            commandId="ch.eugster.events.addressgroup.delete"
            contextId="ch.eugster.events.addressgroup.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+D">
      </key>
   </extension>

</plugin>
