<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ch.eugster.events.documents.odfdom.internal.preferences.PreferenceInitializer">
      </initializer>
      <initializer
            class="ch.eugster.events.documents.odfdom.internal.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.eugster.events.documents.odfdom.internal.preferences.OdfDomPreferencePage"
            id="ch.eugster.events.documents.odfdom.internal.preferences.OdfDomPreferencePage"
            name="Open Document Format">
      </page>
   </extension>

</plugin>
