<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ch.eugster.events.documents.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.eugster.events.documents.preferences.DocumentPreferencePage"
            id="ch.eugster.events.documents.preferences.DocumentPreferencePage"
            name="Einstellungen Dokumente">
      </page>
   </extension>

</plugin>
