<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ch.eugster.events.core.perspective">
         <view
               closeable="true"
               id="ch.eugster.events.user.view"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="ch.eugster.events.addresstype.view"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ch.eugster.events.user.category.views"
            name="Benutzer">
      </category>
      <view
            allowMultiple="false"
            category="ch.eugster.events.user.category.views"
            class="ch.eugster.events.user.views.UserView"
            icon="icons/user_16.png"
            id="ch.eugster.events.user.view"
            name="Benutzer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ch.eugster.events.user.editors.UserEditor"
            icon="icons/user_16.png"
            id="ch.eugster.events.user.editor"
            name="Benutzer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="ch.eugster.events.user.editor"
            targetID="ch.eugster.events.user.editor">
         <action
               class="ch.eugster.events.ui.actions.ResetEditorActionDelegate"
               definitionId="org.eclipse.ui.file.revert"
               disabledIcon="icons/reset_grey_16.png"
               hoverIcon="icons/reset_16.png"
               icon="icons/reset_16.png"
               id="ch.eugster.events.user.editor.revert"
               label="Revert"
               mode="FORCE_TEXT"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Verwerfen der vorgenommenen Änderungen">
         </action>
         <action
               class="ch.eugster.events.ui.actions.SaveEditorActionDelegate"
               definitionId="org.eclipse.ui.file.save"
               disabledIcon="icons/save_grey_16.png"
               hoverIcon="icons/save_16.png"
               icon="icons/save_16.png"
               id="ch.eugster.events.user.editor.save"
               label="Save"
               mode="FORCE_TEXT"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Speichern der vorgenommenen Änderungen">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="ch.eugster.events.user.category.edit"
            name="Bearbeiten">
      </category>
      <command
            categoryId="ch.eugster.events.user.category.edit"
            description="Hinzufügen eines neuen Benutzers"
            id="ch.eugster.events.user.command.add"
            name="Hinzufügen">
      </command>
      <command
            categoryId="ch.eugster.events.user.category.edit"
            description="Entfernen des ausgewählten Benutzers"
            id="ch.eugster.events.user.command.delete"
            name="Entfernen">
      </command>
      <command
            categoryId="ch.eugster.events.user.category.edit"
            description="Bearbeiten des ausgewählten Benutzers"
            id="ch.eugster.events.user.command.edit"
            name="Bearbeiten">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.eugster.events.user.handlers.AddUserHandler"
            commandId="ch.eugster.events.user.command.add">
         <activeWhen>
            <reference
                  definitionId="active.part.user.view">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="active.part.user.view">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.events.user.handlers.DeleteUserHandler"
            commandId="ch.eugster.events.user.command.delete">
         <activeWhen>
            <reference
                  definitionId="active.part.user.view">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="selected.single.item.user">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.events.user.handlers.EditUserHandler"
            commandId="ch.eugster.events.user.command.edit">
         <activeWhen>
            <reference
                  definitionId="active.part.user.view">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="selected.single.item.user">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:ch.eugster.events.user.view?after=additions">
         <command
               commandId="ch.eugster.events.user.command.add"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.gif"
               icon="icons/add_16.gif"
               id="ch.eugster.events.user.command.add"
               label="Hinzufügen"
               mnemonic="N"
               style="push"
               tooltip="Hinzufügen eines neuen Benutzers">
         </command>
         <command
               commandId="ch.eugster.events.user.command.edit"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               id="ch.eugster.events.user.command.edit"
               label="Bearbeiten"
               style="push"
               tooltip="Bearbeiten des ausgewählten Benutzers">
         </command>
         <command
               commandId="ch.eugster.events.user.command.delete"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               id="ch.eugster.events.user.command.delete"
               label="Entfernen"
               mnemonic="L"
               style="push"
               tooltip="Enternen des ausgewählten Benutzers">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:ch.eugster.events.user.view?after=additions">
         <command
               commandId="ch.eugster.events.user.command.add"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.gif"
               icon="icons/add_16.gif"
               id="ch.eugster.events.user.command.add"
               label="Hinzufügen"
               mnemonic="N"
               style="push"
               tooltip="Hinzufügen eines neuen Benutzers">
         </command>
         <command
               commandId="ch.eugster.events.user.command.edit"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               id="ch.eugster.events.user.command.edit"
               label="Bearbeiten"
               style="push"
               tooltip="Bearbeiten des ausgewählten Benutzers">
         </command>
         <command
               commandId="ch.eugster.events.user.command.delete"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               id="ch.eugster.events.user.command.delete"
               label="Entfernen"
               mnemonic="L"
               style="push"
               tooltip="Enternen des ausgewählten Benutzers">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:ch.eugster.events.ui.menu.views?after=additions">
         <command
               commandId="org.eclipse.ui.views.showView"
               disabledIcon="icons/show_view_grey_16.png"
               hoverIcon="icons/manager_16.png"
               icon="icons/manager_16.png"
               label="Benutzer"
               style="push"
               tooltip="Aktivieren der Benutzersicht">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="ch.eugster.events.user.view">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="selected.single.item.user">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <and>
               <iterate>
                  <instanceof
                        value="ch.eugster.events.persistence.model.User">
                  </instanceof>
               </iterate>
            </and>
         </with>
      </definition>
      <definition
            id="active.part.user.view">
         <with
               variable="activePart">
            <instanceof
                  value="ch.eugster.events.user.views.UserView">
            </instanceof>
         </with>
      </definition>
      <definition
            id="active.menu.selection.single.user">
         <with
               variable="activeMenuSelection">
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <instanceof
                        value="ch.eugster.events.persistence.model.User">
                  </instanceof>
               </iterate>
            </and>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ch.eugster.events.user.command.add"
            contextId="ch.eugster.events.user.context"
            schemeId="ch.eugster.events.core.scheme"
            sequence="M1+N">
      </key>
      <key
            commandId="ch.eugster.events.user.command.delete"
            contextId="ch.eugster.events.user.context"
            schemeId="ch.eugster.events.core.scheme"
            sequence="M1+D">
      </key>
      <key
            commandId="ch.eugster.events.user.command.edit"
            contextId="ch.eugster.events.user.context"
            schemeId="ch.eugster.events.core.scheme"
            sequence="M1+E">
      </key>
      <key
            commandId="org.eclipse.ui.file.revert"
            contextId="ch.eugster.events.user.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+R">
      </key>
      <key
            commandId="org.eclipse.ui.file.save"
            contextId="ch.eugster.events.user.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+S">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="ch.eugster.events.user.context"
            name="Kontext Benutzer"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>

</plugin>
