<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="ch.eugster.events.core.app"
         name="Administrator"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="*"
            icon="icons/group_16.png"
            thread="main"
            visible="true">
         <run
               class="ch.eugster.events.core.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.eugster.events.core.Perspective"
            icon="icons/perspective_16.gif"
            id="ch.eugster.events.core.perspective"
            name="Allgemein">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            contentDetector="org.eclipse.ui.intro.config.IntroContentDetector"
            icon="icons/group_16.png"
            id="ch.eugster.events.core.intro"
            label="Intro">
      </intro>
      <introProductBinding
            introId="ch.eugster.events.core.intro"
            productId="ch.eugster.events.core.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:ch.eugster.events.ui.menu.perspectives?after=additions">
         <menu
               icon="icons/new_persp.gif"
               id="menu.perspectives.select"
               label="Öffnen"
               tooltip="Auswahl der vorhandenen Perspektiven">
            <dynamic
                  class="ch.eugster.events.core.PerspectiveSwitcherMenu"
                  id="perspectiveSwitcherMenu">
            </dynamic>
         </menu>
         <command
               commandId="org.eclipse.ui.window.savePerspective"
               hoverIcon="icons/perspective_16.gif"
               icon="icons/perspective_16.gif"
               id="menu.perspectives.save"
               label="Speichern..."
               style="push"
               tooltip="Aktuelle Perspektive unter neuem Namen speichern">
         </command>
         <command
               commandId="org.eclipse.ui.window.customizePerspective"
               hoverIcon="icons/perspective_16.gif"
               icon="icons/perspective_16.gif"
               id="menu.perspectives.customize"
               label="Einrichten..."
               style="push"
               tooltip="Aktuelle Perspektive einrichten...">
         </command>
         <command
               commandId="org.eclipse.ui.window.resetPerspective"
               hoverIcon="icons/perspective_16.gif"
               icon="icons/perspective_16.gif"
               id="menu.perspectives.reset"
               label="Zurücksetzen"
               style="push"
               tooltip="Zurücksetzen der Perspektive auf den ursprünglichen Zustand">
         </command>
         <command
               commandId="org.eclipse.ui.window.closePerspective"
               hoverIcon="icons/perspective_16.gif"
               icon="icons/perspective_16.gif"
               id="menu.perspectives.close"
               label="Schliessen"
               style="push"
               tooltip="Aktuelle Perspektive schliessen">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="ch.eugster.events.core.scheme"
            name="Administrator Schema"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ch.eugster.events.core.app"
            name="Administrator">
         <property
               name="windowImages"
               value="icons/group_16.png,icons/group_32.png,icons/group_48.png,icons/group_64.png,icons/group_128.png">
         </property>
         <property
               name="aboutImage"
               value="icons/group_48.png">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupProgressRect"
               value="5,320,445,15">
         </property>
         <property
               name="startupMessageRect"
               value="24,300,445,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="Administrator">
         </property>
      </product>
   </extension>

</plugin>
