<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.eugster.events.visits.Perspective"
            id="ch.eugster.events.visits.perspective"
            name="Schulbesuche">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ch.eugster.events.visits.views.ThemeView"
            icon="icons/panda.png"
            id="ch.eugster.events.visits.theme.overview"
            name="Themenübersicht"
            restorable="true">
      </view>
      <view
            class="ch.eugster.events.visits.views.VisitThemeView"
            icon="icons/panda.png"
            id="ch.eugster.events.visits.theme.view"
            name="Themen"
            restorable="true">
      </view>
      <view
            class="ch.eugster.events.visits.views.ApplianceView"
            icon="icons/panda.png"
            id="ch.eugster.events.visits.appliance.view"
            name="Geräte"
            restorable="true">
      </view>
      <view
            class="ch.eugster.events.visits.views.SchoolLevelView"
            id="ch.eugster.events.visits.schoollevel.view"
            name="Auswertungsstufen"
            restorable="true">
      </view>
      <view
            class="ch.eugster.events.visits.views.VisitsToDoView"
            icon="icons/panda.png"
            id="ch.eugster.events.visits.todo.view"
            name="Todo"
            restorable="true">
      </view>
      <view
            class="ch.eugster.events.visits.views.EmailAccountView"
            icon="icons/panda.png"
            id="ch.eugster.events.visits.email.view"
            name="Emailkonti"
            restorable="true">
      </view>
      <view
            class="ch.eugster.events.visits.views.VisitView"
            icon="icons/panda.png"
            id="ch.eugster.events.visits.visit.view"
            name="Besuche"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:ch.eugster.events.ui.menu.views?after=additions">
         <menu
               label="Schulbesuche">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  hoverIcon="icons/panda.png"
                  icon="icons/panda.png"
                  label="Besuchsliste"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="ch.eugster.events.visits.visit.view">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  hoverIcon="icons/panda.png"
                  icon="icons/panda.png"
                  label="Themenübersicht"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="ch.eugster.events.visits.theme.overview">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  hoverIcon="icons/panda.png"
                  icon="icons/panda.png"
                  label="Themen"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="ch.eugster.events.visits.theme.view">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  hoverIcon="icons/panda.png"
                  icon="icons/panda.png"
                  label="Geräte"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="ch.eugster.events.visits.appliance.view">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  hoverIcon="icons/panda.png"
                  icon="icons/panda.png"
                  label="Schulklasse"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="ch.eugster.events.visits.schoollevel.view">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  hoverIcon="icons/panda.png"
                  icon="icons/panda.png"
                  label="Schulbesuche"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="ch.eugster.events.visits.todo.view">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  hoverIcon="icons/panda.png"
                  icon="icons/panda.png"
                  label="Emailkonti"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="ch.eugster.events.visits.email.view">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:ch.eugster.events.person.view?after=ch.eugster.events.person.separator4">
         <command
               commandId="ch.eugster.events.visits.setVisitor"
               hoverIcon="icons/panda.png"
               icon="icons/panda.png"
               label="Schulbesucher"
               style="toggle"
               tooltip="Ausgewählte Person als Schulbesucherin festlegen">
         </command>
         <command
               commandId="ch.eugster.events.visits.setTeacher"
               hoverIcon="icons/panda.png"
               icon="icons/panda.png"
               label="Lehrperson"
               style="toggle"
               tooltip="Ausgewählte Person als Lehrperson festlegen">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.eugster.events.visits.theme.overview?after=additions">
         <command
               commandId="ch.eugster.events.visits.visit.add"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.gif"
               icon="icons/add_16.gif"
               label="Neuer Besuch"
               style="push">
         </command>
         <command
               commandId="ch.eugster.events.visits.today"
               label="Heute"
               style="push">
         </command>
         <command
               commandId="ch.eugster.events.visits.view.day"
               hoverIcon="icons/calendar-day.png"
               icon="icons/calendar-day.png"
               label="Tag"
               style="radio">
         </command>
         <command
               commandId="ch.eugster.events.visits.view.week"
               hoverIcon="icons/calendar-day.png"
               icon="icons/calendar-day.png"
               label="Woche"
               style="radio">
         </command>
         <command
               commandId="ch.eugster.events.visits.view.month"
               hoverIcon="icons/calendar-week.png"
               icon="icons/calendar-week.png"
               label="Monat"
               style="radio">
         </command>
         <command
               commandId="ch.eugster.events.visits.view.year"
               hoverIcon="icons/calendar-month.png"
               icon="icons/calendar-month.png"
               label="Jahr"
               style="radio">
         </command>
         <separator
               name="ch.eugster.events.visits.separator1">
         </separator>
         <command
               commandId="ch.eugster.events.visits.zoom.in"
               hoverIcon="icons/zoom-in.png"
               icon="icons/zoom-in.png"
               label="Zoom In"
               style="push">
         </command>
         <command
               commandId="ch.eugster.events.visits.zoom.out"
               hoverIcon="icons/zoom-out.png"
               icon="icons/zoom-out.png"
               label="Zoom Out"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:ch.eugster.events.visits.theme.view?after=additions">
         <command
               commandId="ch.eugster.events.visits.theme.add"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.gif"
               icon="icons/add_16.gif"
               label="Hinzufügen"
               style="push">
         </command>
         <command
               commandId="ch.eugster.events.visits.theme.edit"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push">
         </command>
         <command
               commandId="ch.eugster.events.visits.theme.delete"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="Entfernen"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.eugster.events.visits.appliance.view">
         <command
               commandId="ch.eugster.events.visits.appliance.new"
               disabledIcon="icons/add_grey_16.gif"
               icon="icons/add_16.gif"
               label="Hinzufügen"
               style="push"
               tooltip="Ein neues Gerät hinzufügen">
         </command>
         <command
               commandId="ch.eugster.events.visits.appliance.edit"
               disabledIcon="icons/edit_grey_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push"
               tooltip="Das ausgewählte Gerät bearbeiten">
         </command>
         <command
               commandId="ch.eugster.events.visits.appliance.delete"
               disabledIcon="icons/delete_grey_16.png"
               icon="icons/delete_16.png"
               label="Entfernen"
               style="push"
               tooltip="Das ausgewählte Gerät entfernen">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.eugster.events.visits.schoollevel.view">
         <command
               commandId="ch.eugster.events.visits.schoollevel.new"
               disabledIcon="icons/add_grey_16.gif"
               icon="icons/add_16.gif"
               label="Hinzufügen"
               style="push"
               tooltip="Eine neue Schulklasse hinzufügen">
         </command>
         <command
               commandId="ch.eugster.events.visits.schoollevel.edit"
               disabledIcon="icons/edit_grey_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push"
               tooltip="Die ausgewählte Schulklasse bearbeiten">
         </command>
         <command
               commandId="ch.eugster.events.visits.schoollevel.delete"
               disabledIcon="icons/delete_grey_16.png"
               icon="icons/delete_16.png"
               label="Entfernen"
               style="push"
               tooltip="Die  ausgewählte Schulklasse entfernen">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:ch.eugster.events.visits.email.view?after=additions">
         <command
               commandId="ch.eugster.events.visits.add.email"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.gif"
               icon="icons/add_16.gif"
               label="Hinzufügen"
               style="push">
         </command>
         <command
               commandId="ch.eugster.events.visits.edit.email"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push">
         </command>
         <command
               commandId="ch.eugster.events.visits.delete.email"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="Entfernen"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:ch.eugster.events.visits.visit.view?after=additions">
         <command
               commandId="ch.eugster.events.visits.visit.add"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.gif"
               icon="icons/add_16.gif"
               label="Hinzufügen"
               style="push">
         </command>
         <command
               commandId="ch.eugster.events.visits.visit.edit"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push">
         </command>
         <command
               commandId="ch.eugster.events.visits.visit.delete"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="Entfernen"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:ch.eugster.events.visits.visit.view?after=addictions">
         <command
               commandId="ch.eugster.events.visits.visit.add"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.gif"
               icon="icons/add_16.gif"
               label="Hinzufügen"
               style="push">
         </command>
         <command
               commandId="ch.eugster.events.visits.visit.edit"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push">
         </command>
         <command
               commandId="ch.eugster.events.visits.visit.delete"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="Entfernen"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="ch.eugster.events.visits.setVisitor"
            name="Schulbesuche">
      </command>
      <command
            defaultHandler="ch.eugster.events.visits.handlers.SetTodayCentered"
            id="ch.eugster.events.visits.today"
            name="Today">
      </command>
      <command
            defaultHandler="ch.eugster.events.visits.handlers.SetDayViewHandler"
            id="ch.eugster.events.visits.view.day"
            name="Tag">
      </command>
      <command
            defaultHandler="ch.eugster.events.visits.handlers.SetWeekViewHandler"
            id="ch.eugster.events.visits.view.week"
            name="Woche">
      </command>
      <command
            defaultHandler="ch.eugster.events.visits.handlers.SetMonthViewHandler"
            id="ch.eugster.events.visits.view.month"
            name="Monat">
      </command>
      <command
            defaultHandler="ch.eugster.events.visits.handlers.SetYearViewHandler"
            id="ch.eugster.events.visits.view.year"
            name="Jahr">
      </command>
      <command
            defaultHandler="ch.eugster.events.visits.handlers.AddVisitThemeHandler"
            id="ch.eugster.events.visits.theme.add"
            name="Thema hinzufügen">
      </command>
      <command
            defaultHandler="ch.eugster.events.visits.handlers.EditVisitThemeHandler"
            id="ch.eugster.events.visits.theme.edit"
            name="Thema bearbeiten">
      </command>
      <command
            defaultHandler="ch.eugster.events.visits.handlers.DeleteVisitThemeHandler"
            id="ch.eugster.events.visits.theme.delete"
            name="Thema entfernen">
      </command>
      <command
            defaultHandler="ch.eugster.events.visits.handlers.ZoomInHandler"
            id="ch.eugster.events.visits.zoom.in"
            name="Zoom In">
      </command>
      <command
            defaultHandler="ch.eugster.events.visits.handlers.ZoomOutHandler"
            id="ch.eugster.events.visits.zoom.out"
            name="Zoom Out">
      </command>
      <command
            id="ch.eugster.events.visits.setTeacher"
            name="Lehrperson">
      </command>
      <command
            defaultHandler="ch.eugster.events.visits.handlers.AddVisitHandler"
            id="ch.eugster.events.visits.visit.add"
            name="Neuer Besuch">
      </command>
      <command
            defaultHandler="ch.eugster.events.visits.handlers.EditVisitHandler"
            id="ch.eugster.events.visits.visit.edit"
            name="Besuch bearbeiten">
      </command>
      <command
            defaultHandler="ch.eugster.events.visits.handlers.DeleteVisitHandler"
            id="ch.eugster.events.visits.visit.delete"
            name="Besuch entfernen">
      </command>
      <command
            defaultHandler="ch.eugster.events.visits.handlers.NewApplianceHandler"
            id="ch.eugster.events.visits.appliance.new"
            name="New Appliance">
      </command>
      <command
            id="ch.eugster.events.visits.appliance.edit"
            name="Edit Appliance">
      </command>
      <command
            id="ch.eugster.events.visits.appliance.delete"
            name="Remove Appliance">
      </command>
      <command
            id="ch.eugster.events.visits.schoollevel.edit"
            name="Edit SchoolLevel">
      </command>
      <command
            id="ch.eugster.events.visits.schoollevel.delete"
            name="Remove SchoolLevel">
      </command>
      <command
            defaultHandler="ch.eugster.events.visits.handlers.NewSchoolLevelHandler"
            id="ch.eugster.events.visits.schoollevel.new"
            name="New SchoolLevel">
      </command>
      <command
            defaultHandler="ch.eugster.events.visits.handlers.AddEmailAccountHandler"
            id="ch.eugster.events.visits.add.email"
            name="Add Email Account">
      </command>
      <command
            id="ch.eugster.events.visits.edit.email"
            name="Edit Email Account">
      </command>
      <command
            id="ch.eugster.events.visits.delete.email"
            name="Email Account entfernen">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.eugster.events.visits.handlers.SetVisitorHandler"
            commandId="ch.eugster.events.visits.setVisitor">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <instanceof
                              value="ch.eugster.events.persistence.model.Person">
                        </instanceof>
                        <instanceof
                              value="ch.eugster.events.persistence.model.LinkPersonAddress">
                        </instanceof>
                     </or>
                  </iterate>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.eugster.events.visits.handlers.EditVisitThemeHandler"
            commandId="ch.eugster.events.visits.theme.edit">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="ch.eugster.events.persistence.model.VisitTheme">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.eugster.events.visits.handlers.DeleteVisitThemeHandler"
            commandId="ch.eugster.events.visits.theme.delete">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <instanceof
                        value="ch.eugster.events.persistence.model.VisitTheme">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.eugster.events.visits.handlers.SetTeacherHandler"
            commandId="ch.eugster.events.visits.setTeacher">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <instanceof
                              value="ch.eugster.events.persistence.model.Person">
                        </instanceof>
                        <instanceof
                              value="ch.eugster.events.persistence.model.LinkPersonAddress">
                        </instanceof>
                     </or>
                  </iterate>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.eugster.events.visits.handlers.EditApplianceHandler"
            commandId="ch.eugster.events.visits.appliance.edit">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="ch.eugster.events.persistence.model.Appliance">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.eugster.events.visits.handlers.DeleteApplianceHandler"
            commandId="ch.eugster.events.visits.appliance.delete">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <instanceof
                        value="ch.eugster.events.persistence.model.Appliance">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.eugster.events.visits.handlers.EditSchoolLevelHandler"
            commandId="ch.eugster.events.visits.schoollevel.edit">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="ch.eugster.events.persistence.model.VisitTheme">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.eugster.events.visits.handlers.DeleteSchoolLevelHandler"
            commandId="ch.eugster.events.visits.schoollevel.delete">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <instanceof
                        value="ch.eugster.events.persistence.model.SchoolLevel">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.eugster.events.visits.handlers.DeleteEmailAccountHandler"
            commandId="ch.eugster.events.visits.delete.email">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <instanceof
                        value="ch.eugster.events.persistence.model.EmailAccount">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.eugster.events.visits.handlers.EditEmailAccountHandler"
            commandId="ch.eugster.events.visits.edit.email">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="ch.eugster.events.persistence.model.EmailAccount">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.save"
            contextId="org.eclipse.compare.compareEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+S">
      </key>
      <key
            commandId="org.eclipse.ui.edit.undo"
            contextId="org.eclipse.compare.compareEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Z">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ch.eugster.events.visits.perspective">
         <view
               closeable="true"
               id="ch.eugster.events.visits.theme.overview"
               minimized="false"
               moveable="true"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="ch.eugster.events.visits.theme.view"
               minimized="false"
               moveable="true"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="ch.eugster.events.core.perspective">
         <view
               closeable="true"
               id="ch.eugster.events.visits.appliance.view"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="ch.eugster.events.addresstype.view"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="ch.eugster.events.visits.schoollevel.view"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="ch.eugster.events.addresstype.view"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ch.eugster.events.visits.editors.VisitThemeEditor"
            default="false"
            icon="icons/panda.png"
            id="ch.eugster.events.visits.theme.editor"
            name="Themen">
      </editor>
      <editor
            class="ch.eugster.events.visits.editors.TeacherEditor"
            default="false"
            icon="icons/panda.png"
            id="ch.eugster.events.visits.teacher.editor"
            name="Lehrer Editor">
      </editor>
      <editor
            class="ch.eugster.events.visits.editors.VisitEditor"
            default="false"
            icon="icons/panda.png"
            id="ch.eugster.events.visits.visit.editor"
            name="Besuch Editor">
      </editor>
      <editor
            class="ch.eugster.events.visits.editors.ApplianceEditor"
            default="false"
            icon="icons/panda.png"
            id="ch.eugster.events.visits.appliance.editor"
            name="Appliance Editor">
      </editor>
      <editor
            class="ch.eugster.events.visits.editors.SchoolLevelEditor"
            default="false"
            icon="icons/panda.png"
            id="ch.eugster.events.visits.schoollevel.editor"
            name="SchoolLevel Editor">
      </editor>
      <editor
            class="ch.eugster.events.visits.editors.EmailAccountEditor"
            default="false"
            icon="icons/panda.png"
            id="ch.eugster.events.visits.email.editor"
            name="Email Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="ch.eugster.events.visits.theme.context"
            name="Themenkontext">
      </context>
      <context
            id="ch.eugster.events.visits.appliance.context"
            name="Gerätekontext">
      </context>
      <context
            id="ch.eugster.events.visits.schoollevel.context"
            name="Schullevelkontext">
      </context>
      <context
            id="ch.eugster.events.visits.todo.context"
            name="TodoKontext">
      </context>
      <context
            id="ch.eugster.events.visits.email.context"
            name="EmailkontoKontext">
      </context>
      <context
            id="ch.eugster.events.visits.visit.context"
            name="Besucherkontext">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="ch.eugster.events.visit.VisitEditorContribution"
            targetID="ch.eugster.events.visits.visit.editor">
         <action
               class="ch.eugster.events.ui.actions.ResetEditorActionDelegate"
               definitionId="org.eclipse.ui.file.revert"
               disabledIcon="icons/reset_grey_16.png"
               hoverIcon="icons/reset_16.png"
               icon="icons/reset_16.png"
               id="ch.eugster.events.visit.VisitEditor.revert"
               label="Revert"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Verwerfen der vorgenommenen Änderungen">
         </action>
         <action
               class="ch.eugster.events.ui.actions.SaveEditorActionDelegate"
               definitionId="org.eclipse.ui.file.save"
               disabledIcon="icons/save_grey_16.png"
               hoverIcon="icons/save_16.png"
               icon="icons/save_16.png"
               id="ch.eugster.events.visit.VisitEditor.save"
               label="Save"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Speichern der Änderungen im aktuellen Editor">
         </action>
      </editorContribution>
      <editorContribution
            id="ch.eugster.events.visit.visitThemeEditorContribution"
            targetID="ch.eugster.events.visits.theme.editor">
         <action
               class="ch.eugster.events.ui.actions.ResetEditorActionDelegate"
               definitionId="org.eclipse.ui.file.revert"
               disabledIcon="icons/reset_grey_16.png"
               hoverIcon="icons/reset_16.png"
               icon="icons/reset_16.png"
               id="ch.eugster.events.visit.visitThemeEditor.revert"
               label="Revert"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Verwerfen der vorgenommenen Änderungen">
         </action>
         <action
               class="ch.eugster.events.ui.actions.SaveEditorActionDelegate"
               definitionId="org.eclipse.ui.file.save"
               disabledIcon="icons/save_grey_16.png"
               hoverIcon="icons/save_16.png"
               icon="icons/save_16.png"
               id="ch.eugster.events.visit.visitThemeEditor.save"
               label="Save"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Speichern der Änderungen im aktuellen Editor">
         </action>
      </editorContribution>
      <editorContribution
            id="ch.eugster.events.visit.visitTeacherEditorContribution"
            targetID="ch.eugster.events.visits.teacher.editor">
         <action
               class="ch.eugster.events.ui.actions.ResetEditorActionDelegate"
               definitionId="org.eclipse.ui.file.revert"
               disabledIcon="icons/reset_grey_16.png"
               hoverIcon="icons/reset_16.png"
               icon="icons/reset_16.png"
               id="ch.eugster.events.visit.visitTeacherEditor.revert"
               label="Revert"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Verwerfen der vorgenommenen Änderungen">
         </action>
         <action
               class="ch.eugster.events.ui.actions.SaveEditorActionDelegate"
               definitionId="org.eclipse.ui.file.save"
               disabledIcon="icons/save_grey_16.png"
               hoverIcon="icons/save_16.png"
               icon="icons/save_16.png"
               id="ch.eugster.events.visit.visitTeacherEditor.save"
               label="Save"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Speichern der Änderungen im aktuellen Editor">
         </action>
      </editorContribution>
      <editorContribution
            id="ch.eugster.events.visit.visitApplianceEditorContribution"
            targetID="ch.eugster.events.visits.appliance.editor">
         <action
               class="ch.eugster.events.ui.actions.ResetEditorActionDelegate"
               definitionId="org.eclipse.ui.file.revert"
               disabledIcon="icons/reset_grey_16.png"
               hoverIcon="icons/reset_16.png"
               icon="icons/reset_16.png"
               id="ch.eugster.events.visit.visitApplianceEditor.revert"
               label="Revert"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Verwerfen der vorgenommenen Änderungen">
         </action>
         <action
               class="ch.eugster.events.ui.actions.SaveEditorActionDelegate"
               definitionId="org.eclipse.ui.file.save"
               disabledIcon="icons/save_grey_16.png"
               hoverIcon="icons/save_16.png"
               icon="icons/save_16.png"
               id="ch.eugster.events.visit.visitApplianceEditor.save"
               label="Save"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Speichern der Änderungen im aktuellen Editor">
         </action>
      </editorContribution>
      <editorContribution
            id="ch.eugster.events.visit.visitSchoolLevelEditorContribution"
            targetID="ch.eugster.events.visits.schoollevel.editor">
         <action
               class="ch.eugster.events.ui.actions.ResetEditorActionDelegate"
               definitionId="org.eclipse.ui.file.revert"
               disabledIcon="icons/reset_grey_16.png"
               hoverIcon="icons/reset_16.png"
               icon="icons/reset_16.png"
               id="ch.eugster.events.visit.visitSchoolLevelEditor.revert"
               label="Revert"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Verwerfen der vorgenommenen Änderungen">
         </action>
         <action
               class="ch.eugster.events.ui.actions.SaveEditorActionDelegate"
               definitionId="org.eclipse.ui.file.save"
               disabledIcon="icons/save_grey_16.png"
               hoverIcon="icons/save_16.png"
               icon="icons/save_16.png"
               id="ch.eugster.events.visit.visitSchoolLevelEditor.save"
               label="Save"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Speichern der Änderungen im aktuellen Editor">
         </action>
      </editorContribution>
      <editorContribution
            id="ch.eugster.events.visit.visitEmailAccountEditorContribution"
            targetID="ch.eugster.events.visits.email.editor">
         <action
               class="ch.eugster.events.ui.actions.ResetEditorActionDelegate"
               definitionId="org.eclipse.ui.file.revert"
               disabledIcon="icons/reset_grey_16.png"
               hoverIcon="icons/reset_16.png"
               icon="icons/reset_16.png"
               id="ch.eugster.events.visit.visitEmailEditor.revert"
               label="Revert"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Verwerfen der vorgenommenen Änderungen">
         </action>
         <action
               class="ch.eugster.events.ui.actions.SaveEditorActionDelegate"
               definitionId="org.eclipse.ui.file.save"
               disabledIcon="icons/save_grey_16.png"
               hoverIcon="icons/save_16.png"
               icon="icons/save_16.png"
               id="ch.eugster.events.visit.visitEmailEditor.save"
               label="Save"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Speichern der Änderungen im aktuellen Editor">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ch.eugster.events.visits.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.eugster.events.visits.preferences.VisitsPreferencePage"
            id="ch.eugster.events.visits.preference.page"
            name="Schulbesuche">
      </page>
   </extension>

</plugin>
