<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ch.eugster.events.course.reporting.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
       <page
            category="ch.eugster.events.course.root.page"
            class="ch.eugster.events.course.reporting.preferences.ExternalPathPreferencePage"
            id="ch.eugster.events.course.reporting.preferences.externalPaths"
            name="Externe Pfade">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="ch.eugster.events.course.reporting.category"
            name="Berichte">
      </category>
      <command
            categoryId="ch.eugster.events.course.reporting.category"
            defaultHandler="ch.eugster.events.course.reporting.handlers.GenerateParticipantListHandler"
            description="Teilnahmeliste generieren"
            id="ch.eugster.events.course.reporting.command.generateParticipantList"
            name="Teilnahmeliste">
      </command>
      <command
            categoryId="ch.eugster.events.course.reporting.category"
            description="Buchungsbestätigung generieren"
            id="ch.eugster.events.course.reporting.command.generateBookingConfirmation"
            name="Buchungsbestätigung">
      </command>
      <command
            categoryId="ch.eugster.events.course.reporting.category"
            defaultHandler="ch.eugster.events.course.reporting.handlers.GenerateInvitationHandler"
            description="Kurseinladung generieren"
            id="ch.eugster.events.course.reporting.command.generateInvitation"
            name="Kurseinladung">
      </command>
      <command
            categoryId="ch.eugster.events.course.reporting.category"
            description="Teilnahmebestätigung generieren"
            id="ch.eugster.events.course.reporting.command.generateParticipationConfirmation"
            name="Teilnahmebestätigung">
      </command>
      <command
            defaultHandler="ch.eugster.events.course.reporting.handlers.GenerateParticipantListReportHandler"
            id="ch.eugster.events.course.reporting.command.printParticipantReport"
            name="Teilnehmerliste drucken">
      </command>
      <command
            defaultHandler="ch.eugster.events.course.reporting.handlers.GenerateBookingListReportHandler"
            id="ch.eugster.events.course.reporting.command.printBookingListReport"
            name="Kursliste mit Buchungsstand drucken">
      </command>
      <command
            defaultHandler="ch.eugster.events.course.reporting.handlers.PrintLabelHandler"
            id="ch.eugster.events.course.reporting.printLabels"
            name="Etiketten drucken">
      </command>
      <command
            defaultHandler="ch.eugster.events.course.reporting.handlers.CommitmentContractHandler"
            id="ch.eugster.events.course.reporting.commitmentcontract"
            name="Einsatzvertrag generieren">
      </command>
      <command
            defaultHandler="ch.eugster.events.course.reporting.handlers.GenerateCourseDescriptionHandler"
            id="ch.eugster.events.course.reporting.generateCourseDescriptions"
            name="Kursbeschreibungen generieren">
      </command>
      <command
            defaultHandler="ch.eugster.events.course.reporting.handlers.GenerateCourseListSpreadsheetHandler"
            id="ch.eugster.events.course.reporting.command.showCourseListSpreadsheet"
            name="Kursliste drucken">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.eugster.events.course.reporting.handlers.GenerateBookingConfirmationHandler"
            commandId="ch.eugster.events.course.reporting.command.generateBookingConfirmation">
         <enabledWhen>
            <with
                  variable="selection">
               <or>
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="ch.eugster.events.persistence.model.Course">
                        </instanceof>
                     </iterate>
                  </and>
                  <iterate>
                     <instanceof
                           value="ch.eugster.events.persistence.model.Booking">
                     </instanceof>
                  </iterate>
               </or>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.events.course.reporting.handlers.GenerateParticipationConfirmationHandler"
            commandId="ch.eugster.events.course.reporting.command.generateParticipationConfirmation">
         <enabledWhen>
            <with
                  variable="selection">
               <or>
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="ch.eugster.events.persistence.model.Course">
                        </instanceof>
                     </iterate>
                  </and>
                  <iterate>
                     <instanceof
                           value="ch.eugster.events.persistence.model.Booking">
                     </instanceof>
                  </iterate>
               </or>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:ch.eugster.events.course.views.courseBookingView?after=ch.eugster.events.course.separator3">
         <menu
               icon="icons/work_16.png"
               id="popup.course.booking.view.generate"
               label="Generieren">
            <command
                  commandId="ch.eugster.events.course.reporting.command.generateBookingConfirmation"
                  disabledIcon="icons/work_grey_16.png"
                  hoverIcon="icons/work_16.png"
                  icon="icons/work_16.png"
                  label="Buchungsbestätigung"
                  style="push"
                  tooltip="Generieren der Buchungsbestätigungen">
            </command>
            <command
                  commandId="ch.eugster.events.course.reporting.command.generateInvitation"
                  disabledIcon="icons/work_grey_16.png"
                  hoverIcon="icons/work_16.png"
                  icon="icons/work_16.png"
                  label="Kurseinladung"
                  style="push"
                  tooltip="Generieren der Kurseinladungen">
            </command>
            <command
                  commandId="ch.eugster.events.course.reporting.command.generateParticipationConfirmation"
                  disabledIcon="icons/work_grey_16.png"
                  hoverIcon="icons/work_16.png"
                  icon="icons/work_16.png"
                  label="Teilnahmebestätigung"
                  style="push"
                  tooltip="Generieren der Teilnahmebestätigung">
            </command>
            <command
                  commandId="ch.eugster.events.course.reporting.printLabels"
                  disabledIcon="icons/work_grey_16.png"
                  hoverIcon="icons/work_16.png"
                  icon="icons/work_16.png"
                  label="Etiketten drucken"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:ch.eugster.events.course.views.courseView?after=ch.eugster.events.course.separator2">
         <separator
               name="ch.eugster.events.course.reporting.separator1">
         </separator>
         <command
               commandId="ch.eugster.events.course.reporting.command.printParticipantReport"
               disabledIcon="icons/work_grey_16.png"
               hoverIcon="icons/work_16.png"
               icon="icons/work_16.png"
               label="Teilnehmerliste drucken"
               style="push"
               tooltip="Generieren der Teilnahmeliste">
         </command>
         <command
               commandId="ch.eugster.events.course.reporting.command.showCourseListSpreadsheet"
               disabledIcon="icons/work_grey_16.png"
               hoverIcon="icons/work_16.png"
               icon="icons/work_16.png"
               label="Kursliste drucken"
               style="push"
               tooltip="Drucken der Kursliste">
         </command>
         <command
               commandId="ch.eugster.events.course.reporting.command.printBookingListReport"
               disabledIcon="icons/work_grey_16.png"
               hoverIcon="icons/work_16.png"
               icon="icons/work_16.png"
               label="Kursliste mit Buchungsstand drucken"
               style="push"
               tooltip="Drucken der Kursliste mit Buchungsstand">
         </command>
         <command
               commandId="ch.eugster.events.course.reporting.command.generateParticipantList"
               disabledIcon="icons/work_grey_16.png"
               hoverIcon="icons/work_16.png"
               icon="icons/work_16.png"
               label="Adressliste generieren"
               style="push"
               tooltip="Generieren einer Adressliste der Teilnehmer">
         </command>
         <command
               commandId="ch.eugster.events.course.reporting.command.generateBookingConfirmation"
               disabledIcon="icons/work_grey_16.png"
               hoverIcon="icons/work_16.png"
               icon="icons/work_16.png"
               label="Buchungsbestätigung"
               style="push"
               tooltip="Generieren der Buchungsbestätigungen">
         </command>
         <command
               commandId="ch.eugster.events.course.reporting.command.generateInvitation"
               disabledIcon="icons/work_grey_16.png"
               hoverIcon="icons/work_16.png"
               icon="icons/work_16.png"
               label="Kurseinladung"
               style="push"
               tooltip="Generieren der Kurseinladungen">
         </command>
         <command
               commandId="ch.eugster.events.course.reporting.command.generateParticipationConfirmation"
               disabledIcon="icons/work_grey_16.png"
               hoverIcon="icons/work_16.png"
               icon="icons/work_16.png"
               label="Teilnahmebestätigung"
               style="push"
               tooltip="Generieren der Teilnahmebestätigung">
         </command>
         <command
               commandId="ch.eugster.events.course.reporting.printLabels"
               disabledIcon="icons/work_grey_16.png"
               hoverIcon="icons/work_16.png"
               icon="icons/work_16.png"
               label="Etiketten drucken"
               style="push">
         </command>
         <command
               commandId="ch.eugster.events.course.reporting.commitmentcontract"
               disabledIcon="icons/work_grey_16.png"
               hoverIcon="icons/work_16.png"
               icon="icons/work_16.png"
               label="Einsatzvertrag generieren"
               style="push">
         </command>
         <command
               commandId="ch.eugster.events.course.reporting.generateCourseDescriptions"
               disabledIcon="icons/work_grey_16.png"
               hoverIcon="icons/work_16.png"
               icon="icons/work_16.png"
               label="Kursbeschreibungen generieren"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>

</plugin>
