<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ch.eugster.events.persistence.handlers.StartConnectionWizardHandler"
            id="ch.eugster.events.persistence.startConnectionWizard"
            name="Verbindungsassistenten starten">
      </command>
      <command
            defaultHandler="ch.eugster.events.persistence.handlers.UpdateAddressGroupMembersHandler"
            id="ch.eugster.events.persistence.updateAddressGroupMembers"
            name="Update Addressgroupmembers">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=additions">
         <command
               commandId="ch.eugster.events.persistence.startConnectionWizard"
               label="Datenbankverbindung..."
               style="push">
         </command>
         <command
               commandId="ch.eugster.events.persistence.updateAddressGroupMembers"
               label="Adressgruppenmitglieder aktualisieren"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
