<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="category.donation"
            name="Spenden">
      </category>
      <command
            categoryId="category.donation"
            defaultHandler="ch.eugster.events.donation.handlers.AddDonationHandler"
            description="Neue Spende hinzufügen"
            id="ch.eugster.events.donation.add"
            name="Hinzufügen">
      </command>
      <command
            categoryId="category.donation"
            description="Ausgewählte Spende bearbeiten"
            id="ch.eugster.events.donation.edit"
            name="Bearbeiten">
      </command>
      <command
            categoryId="category.donation"
            description="Ausgewählte Spende entfernen"
            id="ch.eugster.events.donation.delete"
            name="Entfernen">
      </command>
      <command
            categoryId="category.donation"
            id="ch.eugster.events.donation.generate.list"
            name="Spendenliste">
      </command>
      <command
            categoryId="category.donation"
            id="ch.eugster.events.donation.generate.confirmation"
            name="Spendenbestätigung">
      </command>
      <command
            categoryId="category.donation"
            id="ch.eugster.events.donation.activate.donation.view"
            name="Spendenübersicht">
      </command>
      <command
            categoryId="category.donation"
            id="ch.eugster.events.donation.activate.donation.purpose.view"
            name="Spendenzwecke">
      </command>
      <command
            id="ch.eugster.events.donation.activate.link.view"
            name="Spenden">
      </command>
      <command
            categoryId="category.donation"
            defaultHandler="ch.eugster.events.donation.handlers.AddDonationToLinkHandler"
            description="Neue Spende hinzufügen"
            id="ch.eugster.events.donation.addToLink"
            name="Hinzufügen">
      </command>
      <command
            categoryId="category.donation"
            defaultHandler="ch.eugster.events.donation.handlers.AddDonationPurposeHandler"
            id="ch.eugster.events.donation.purpose.add"
            name="Spendenzweck hinzufügen">
      </command>
      <command
            categoryId="category.donation"
            id="ch.eugster.events.donation.purpose.delete"
            name="Spendenzweck entfernen">
      </command>
      <command
            categoryId="category.donation"
            id="ch.eugster.events.donation.purpose.edit"
            name="Spendenzweck bearbeiten">
      </command>
      <command
            defaultHandler="ch.eugster.events.donation.handlers.SelectAllHandler"
            id="ch.eugster.events.donation.select.all"
            name="Alles auswählen">
      </command>
      <command
            defaultHandler="ch.eugster.events.donation.handlers.CopyHandler"
            id="ch.eugster.events.donation.copy"
            name="Kopieren">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.eugster.events.donation.handlers.GenerateDonationListHandler"
            commandId="ch.eugster.events.donation.generate.list">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <instanceof
                              value="ch.eugster.events.persistence.model.DonationYear">
                        </instanceof>
                        <instanceof
                              value="ch.eugster.events.persistence.model.DonationPurpose">
                        </instanceof>
                     </or>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.events.donation.handlers.GenerateDonationConfirmationHandler"
            commandId="ch.eugster.events.donation.generate.confirmation">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <instanceof
                              value="ch.eugster.events.persistence.model.DonationPurpose">
                        </instanceof>
                        <instanceof
                              value="ch.eugster.events.persistence.model.Donation">
                        </instanceof>
                        <instanceof
                              value="ch.eugster.events.persistence.model.DonationYear">
                        </instanceof>
                     </or>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.events.donation.handlers.ActivateDonationPurposeViewHandler"
            commandId="ch.eugster.events.donation.activate.donation.purpose.view">
      </handler>
      <handler
            class="ch.eugster.events.donation.handlers.ActivateDonationViewHandler"
            commandId="ch.eugster.events.donation.activate.donation.view">
      </handler>
      <handler
            class="ch.eugster.events.donation.handlers.ActivateLinkDonationViewHandler"
            commandId="ch.eugster.events.donation.activate.link.view">
      </handler>
      <handler
            class="ch.eugster.events.donation.handlers.DeleteDonationPurposeHandler"
            commandId="ch.eugster.events.donation.purpose.delete">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="ch.eugster.events.persistence.model.DonationPurpose">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.events.donation.handlers.EditDonationPurposeHandler"
            commandId="ch.eugster.events.donation.purpose.edit">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="ch.eugster.events.persistence.model.DonationPurpose">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.events.donation.handlers.EditDonationHandler"
            commandId="ch.eugster.events.donation.edit">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="ch.eugster.events.persistence.model.Donation">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ch.eugster.events.donation.handlers.DeleteDonationHandler"
            commandId="ch.eugster.events.donation.delete">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="ch.eugster.events.persistence.model.Donation">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:ch.eugster.events.person.view?after=ch.eugster.events.person.separator4">
         <command
               commandId="ch.eugster.events.donation.addToLink"
               hoverIcon="icons/money.png"
               icon="icons/money.png"
               label="Spende"
               style="push"
               tooltip="Neue Spende hinzufügen">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <or>
                           <instanceof
                                 value="ch.eugster.events.persistence.model.Person">
                           </instanceof>
                           <instanceof
                                 value="ch.eugster.events.persistence.model.LinkPersonAddress">
                           </instanceof>
                           <instanceof
                                 value="ch.eugster.events.persistence.model.Address">
                           </instanceof>
                        </or>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:ch.eugster.events.donation.linkView?after=additions">
         <command
               commandId="ch.eugster.events.donation.addToLink"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/money.png"
               icon="icons/add_16.gif"
               label="Hinzufügen"
               style="push"
               tooltip="Neue Spende hinzufügen">
         </command>
         <command
               commandId="ch.eugster.events.donation.edit"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/money.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push"
               tooltip="Ausgewählte Spende bearbeiten">
         </command>
         <command
               commandId="ch.eugster.events.donation.delete"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="Entfernen"
               style="push"
               tooltip="Ausgewählte Spende entfernen">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:ch.eugster.events.donation.linkView?after=additions">
         <command
               commandId="ch.eugster.events.donation.addToLink"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.gif"
               icon="icons/add_16.gif"
               label="Hinzufügen"
               style="push"
               tooltip="Neue Spende hinzufügen">
         </command>
         <command
               commandId="ch.eugster.events.donation.edit"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push"
               tooltip="Ausgewählte Spende bearbeiten">
         </command>
         <command
               commandId="ch.eugster.events.donation.delete"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="Entfernen"
               style="push"
               tooltip="Ausgewählte Spende entfernen">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:ch.eugster.events.donation.view?after=additions">
         <command
               commandId="ch.eugster.events.donation.generate.list"
               hoverIcon="icons/money.png"
               icon="icons/money.png"
               label="Spendenliste"
               style="push"
               tooltip="Erstellen einer Spendenliste">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <or>
                           <instanceof
                                 value="ch.eugster.events.persistence.model.DonationYear">
                           </instanceof>
                           <instanceof
                                 value="ch.eugster.events.persistence.model.DonationPurpose">
                           </instanceof>
                        </or>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ch.eugster.events.donation.generate.confirmation"
               hoverIcon="icons/money.png"
               icon="icons/money.png"
               label="Spendenbestätigung"
               style="push"
               tooltip="Erstellen von Spendenbestätigungen">
         </command>
         <separator
               name="ch.eugster.events.donation.separator1"
               visible="true">
         </separator>
         <command
               commandId="ch.eugster.events.donation.copy"
               label="Kopieren"
               style="push">
         </command>
         <command
               commandId="ch.eugster.events.donation.select.all"
               label="Alles auswählen"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:ch.eugster.events.ui.menu.views?after=additions">
         <menu
               icon="icons/money.png"
               label="Spenden">
            <command
                  commandId="ch.eugster.events.donation.activate.donation.view"
                  hoverIcon="icons/money.png"
                  icon="icons/money.png"
                  label="Übersicht"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  hoverIcon="icons/money.png"
                  icon="icons/money.png"
                  label="Spendenzweck"
                  style="push"
                  tooltip="Sicht der Spendenzwecke aktivieren">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:ch.eugster.events.person.views.menu?after=additions">
         <command
               commandId="ch.eugster.events.donation.activate.link.view"
               hoverIcon="icons/money.png"
               icon="icons/money.png"
               label="Spenden"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:ch.eugster.events.donation.purpose.view?after=additions">
         <command
               commandId="ch.eugster.events.donation.purpose.add"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.gif"
               icon="icons/add_16.gif"
               label="Hinzufügen"
               style="push"
               tooltip="Neuen Spendenzweck hinzufügen">
         </command>
         <command
               commandId="ch.eugster.events.donation.purpose.edit"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push"
               tooltip="Ausgewählten Spendenzweck bearbeiten">
         </command>
         <command
               commandId="ch.eugster.events.donation.purpose.delete"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="Entfernen"
               style="push"
               tooltip="Ausgewählten Spendenzweck entfernen">
         </command>
         <separator
               name="ch.eugster.events.donation.separator1">
         </separator>
         <command
               commandId="ch.eugster.events.donation.generate.list"
               hoverIcon="icons/money.png"
               icon="icons/money.png"
               label="Spendenliste"
               style="push"
               tooltip="Erstellen einer Spendenliste">
         </command>
         <command
               commandId="ch.eugster.events.donation.generate.confirmation"
               hoverIcon="icons/money.png"
               icon="icons/money.png"
               label="Spendenbestätigung"
               style="push"
               tooltip="Erstellen von Spendenbestätigungen">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:ch.eugster.events.donation.purpose.view?after=additions">
         <command
               commandId="ch.eugster.events.donation.purpose.add"
               disabledIcon="icons/add_grey_16.gif"
               hoverIcon="icons/add_16.gif"
               icon="icons/add_16.gif"
               label="Hinzufügen"
               style="push"
               tooltip="Neuen Spendenzweck hinzufügen">
         </command>
         <command
               commandId="ch.eugster.events.donation.purpose.edit"
               disabledIcon="icons/edit_grey_16.png"
               hoverIcon="icons/edit_16.png"
               icon="icons/edit_16.png"
               label="Bearbeiten"
               style="push"
               tooltip="Ausgewählten Spendenzweck bearbeiten">
         </command>
         <command
               commandId="ch.eugster.events.donation.purpose.delete"
               disabledIcon="icons/delete_grey_16.png"
               hoverIcon="icons/delete_16.png"
               icon="icons/delete_16.png"
               label="Entfernen"
               style="push"
               tooltip="Ausgewählten Spendenzweck entfernen">
         </command>
         <separator
               name="ch.eugster.events.donation.separator1"
               visible="true">
         </separator>
         <command
               commandId="ch.eugster.events.donation.generate.list"
               hoverIcon="icons/money.png"
               icon="icons/money.png"
               label="Spendenliste"
               style="push"
               tooltip="Erstellen einer Spendenliste">
         </command>
         <command
               commandId="ch.eugster.events.donation.generate.confirmation"
               hoverIcon="icons/money.png"
               icon="icons/money.png"
               label="Spendenbestätigung"
               style="push"
               tooltip="Erstellen von Spendenbestätigungen">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ch.eugster.events.donation.editors.DonationEditor"
            default="false"
            icon="icons/money.png"
            id="ch.eugster.events.donation.editor"
            name="Spende">
      </editor>
      <editor
            class="ch.eugster.events.donation.editors.DonationPurposeEditor"
            default="false"
            icon="icons/money.png"
            id="ch.eugster.events.donation.purpose.editor"
            name="Spendenzweck">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ch.eugster.events.donation.category.view"
            name="Spenden">
      </category>
      <view
            category="ch.eugster.events.person.category"
            class="ch.eugster.events.donation.views.LinkDonationView"
            icon="icons/money.png"
            id="ch.eugster.events.donation.linkView"
            name="Spenden"
            restorable="true">
      </view>
      <view
            category="ch.eugster.events.donation.category.view"
            class="ch.eugster.events.donation.views.DonationView"
            icon="icons/money.png"
            id="ch.eugster.events.donation.view"
            name="Spenden"
            restorable="true">
      </view>
      <view
            category="ch.eugster.events.donation.category.view"
            class="ch.eugster.events.donation.views.DonationPurposeView"
            icon="icons/money.png"
            id="ch.eugster.events.donation.purpose.view"
            name="Spendenzweck"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ch.eugster.events.core.perspective">
         <view
               closeable="true"
               id="ch.eugster.events.donation.purpose.view"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="ch.eugster.events.domain.view"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="ch.eugster.events.person.perspective">
         <view
               closeable="true"
               id="ch.eugster.events.donation.linkView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="ch.eugster.events.addressgroup.person.view"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="ch.eugster.events.donation.editor"
            targetID="ch.eugster.events.donation.editor">
         <action
               class="ch.eugster.events.ui.actions.ResetEditorActionDelegate"
               definitionId="org.eclipse.ui.file.revert"
               disabledIcon="icons/reset_grey_16.png"
               hoverIcon="icons/reset_16.png"
               icon="icons/reset_16.png"
               id="ch.eugster.events.donation.editor.revert"
               label="Revert"
               mode="FORCE_TEXT"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Verwerfen der vorgenommenen Änderungen">
         </action>
         <action
               class="ch.eugster.events.ui.actions.SaveEditorActionDelegate"
               definitionId="org.eclipse.ui.file.save"
               disabledIcon="icons/save_grey_16.png"
               hoverIcon="icons/save_16.png"
               icon="icons/save_16.png"
               id="ch.eugster.events.donation.editor.save"
               label="Save"
               mode="FORCE_TEXT"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Speichern der vorgenommenen Änderungen">
         </action>
      </editorContribution>
      <editorContribution
            id="ch.eugster.events.donation.purpose.editor"
            targetID="ch.eugster.events.donation.purpose.editor">
         <action
               class="ch.eugster.events.ui.actions.ResetEditorActionDelegate"
               definitionId="org.eclipse.ui.file.revert"
               disabledIcon="icons/reset_grey_16.png"
               hoverIcon="icons/reset_16.png"
               icon="icons/reset_16.png"
               id="ch.eugster.events.donation.purpose.editor.revert"
               label="Revert"
               mode="FORCE_TEXT"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Verwerfen der vorgenommenen Änderungen">
         </action>
         <action
               class="ch.eugster.events.ui.actions.SaveEditorActionDelegate"
               definitionId="org.eclipse.ui.file.save"
               disabledIcon="icons/save_grey_16.png"
               hoverIcon="icons/save_16.png"
               icon="icons/save_16.png"
               id="ch.eugster.events.donation.purpose.editor.save"
               label="Save"
               mode="FORCE_TEXT"
               style="push"
               toolbarPath="ch.eugster.events.ui.toolbar.editor.actions"
               tooltip="Speichern der vorgenommenen Änderungen">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ch.eugster.events.donation.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.eugster.events.donation.preferences.DonationPreferencePage"
            id="ch.eugster.events.donation.page"
            name="Spenden">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ch.eugster.events.donation.purpose.add"
            contextId="ch.eugster.events.donation.purpose.context"
            schemeId="ch.eugster.events.core.scheme"
            sequence="M1+N">
      </key>
      <key
            commandId="ch.eugster.events.donation.purpose.edit"
            contextId="ch.eugster.events.donation.purpose.context"
            schemeId="ch.eugster.events.core.scheme"
            sequence="M1+E">
      </key>
      <key
            commandId="ch.eugster.events.donation.purpose.delete"
            contextId="ch.eugster.events.donation.purpose.context"
            schemeId="ch.eugster.events.core.scheme"
            sequence="M1+D">
      </key>
      <key
            commandId="org.eclipse.ui.file.save"
            contextId="ch.eugster.events.donation.purpose.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+S">
      </key>
      <key
            commandId="org.eclipse.ui.file.revert"
            contextId="ch.eugster.events.donation.purpose.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+R">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="ch.eugster.events.donation.purpose.context"
            name="Kontext Spendenzweck"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>

</plugin>
